.about-page {

    h1 {
        position: relative;
        margin-bottom: 40px;
        max-width: 500px;
    }

    h3 {
        font-weight: 300;
        margin-bottom: 50px;
        position: relative;
    }

    .about-image {
        position: absolute;
        right: 0;
        top: 0;
        height: auto;
        max-width: 914px;
        width: 49%;
        z-index: 0;
    }

    #float-hide {
        float: right;
        height: calc((100vw - 1170px) / 2.2);
        width: 51%;
    }

    .description {
        margin-bottom: 45px;
        letter-spacing: normal;
    }

    .wrap-reviews-callback::before {
        background-position: center top;
    }

    .advantages {
        margin-bottom: 10px;
    }

    .svan-salt {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: -52px;

        .image {
            flex-basis: 53%;
        }

        .text {
            h3 {
                margin-bottom: 47px;
                margin-left: -162px;
            }
            flex: 1;
            padding-left: 84px;
            letter-spacing: normal;
            margin-bottom: 52px;
        }
    }

    @include mq(xl) {
        .about-image {
            width: 65%;
        }
    
        #float-hide {
            height: calc((100vw - 860px) / 1.7);
            width: 73%;
        }

        .svan-salt {
            .text {
                margin-bottom: 0;
                padding-left: 50px;
            }
        }
    }

    @include mq(lg) {
        .about-image {
            position: relative;
            margin-bottom: 50px;
            width: 100%;
        }
    
        #float-hide {
            display: none;
        }

        .svan-salt {
            flex-direction: column;

            .image {
                margin-bottom: 30px;
            }

            .text {
                margin-bottom: 0;
                padding-left: 0;

                h3 {
                    margin-left: 0;
                }
            }
        }
    }

    @include mq(sm) {
        h1 {
            font-size: 20vw;
        }
        h3 {
            font-size: 11vw;
        }
    }
}