.about-home {
    margin-bottom: 100px;

    h3 {
        margin-bottom: 52px;
    }

    h5 {
        font-family: $kt;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 22px;
        margin-top: 24px;
    }

    .about-hor{
        margin-bottom: 60px;

        .hor-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            a {
                color: $gld;
                text-decoration: underline;
                text-decoration-skip-ink: none;

                &:hover {
                    font-weight: 700;
                    text-decoration: none;
                }
            }
        }
    }

    .about-dirigent {
        
        .dirigent-img {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .dirigent-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding: 13px 0 50px;

            h5 {
                margin-bottom: 15px;
                margin-top: 0;
            }
            .subtitle {
                font-size: 20px;
                color: $gld;
                margin-bottom: 32px;
            }

            .dirigent-text {
                margin-bottom: 31px;
            }

            a {
                color: $gld;
                text-decoration: underline;
                text-decoration-skip-ink: none;

                &:hover {
                    font-weight: 700;
                    text-decoration: none;
                }
            }
        }

        .dirigen-block-img {
            margin-top: 39px;

            img {
                margin-top: 52px;
            }
        }
    }
}