.about-home {
    margin-bottom: 100px;

    h3 {
        margin-bottom: 52px;
    }

    h5 {
        font-family: $kt;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 22px;
        margin-top: 24px;
    }

    .about-hor {
        margin-bottom: 60px;

        .hor-img {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
        }

        .hor-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            a {
                color: $gld;
                text-decoration: underline;
                text-decoration-skip-ink: none;
                line-height: 1;

                &:hover {
                    font-weight: 700;
                }
            }
        }
    }

    .about-dirigent {

        .dirigent-img {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100%;
        }

        .dirigent-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding: 13px 0 50px;

            h5 {
                margin-bottom: 15px;
                margin-top: 0;
            }

            .subtitle {
                font-size: 20px;
                color: $gld;
                margin-bottom: 32px;
            }

            .dirigent-text {
                margin-bottom: 31px;
            }

            a {
                color: $gld;
                text-decoration: underline;
                text-decoration-skip-ink: none;

                &:hover {
                    font-weight: 700;
                }
            }
        }

        .dirigen-block-img {
            margin-top: 39px;
            height: 100%;

            .dirigen-block-img-wrap {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: calc(100% - 91px);
                margin-top: 52px;
            }
        }
    }

    @include mq(lg) {
        .about-dirigent {
            .dirigen-block-img {
                margin-top: 0;

                &.decor-arrow-tr {

                    &::before,
                    &::after {
                        display: none;
                    }
                }

                .dirigen-block-img-wrap {
                    margin-top: 0;
                    height: 100%;
                }

            }
        }
    }

    @include mq(md) {
        .decor-arrow-tl {
            padding-top: 0;

            &::before,
            &::after {
                display: none;
            }
        }

        .about-hor {
            .hor-img {
                height: 296px;
            }
        }

        .about-dirigent {
            .dirigent-img {
                height: 470px;
            }

            .dirigent-info {
                padding: 15px 0 0;

                &.decor-arrow-bl {
                    &::before, &::after {
                        display: none;
                    }
                }
            }
        }

        .dirigen-block-img {
            padding-top: 0;
        }
    }

    @include mq(sm) {
        margin-bottom: 50px;
    }

}