.about-hor {
    --block-bot: 60px;
    --h3-top: 37px;

    @include mq(md) {
        --block-bot: 30px;
        --h3-top: 20px;
    }

    h1 {
        margin-bottom: 64px;
    }

    h3 {
        font-size: 42px;
        line-height: 124%;
    }

    .abh-block1 {
        margin-bottom: var(--block-bot);

        h3 {
            margin: var(--h3-top) 0 25px;
        }

        .abh-block1-img {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
        }
    }
    
    .abh-block2 {
        margin-bottom: var(--block-bot);

        .abh-block2-img {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
        }

        .abh-block2-text {
            margin-bottom: 46px;

            h3 {
                margin: var(--h3-top) 0 44px;
            }
        }

        .prem-year {
            column-count: 2;
            column-gap: 28px;
            
            li {
                break-inside: avoid-column;

                &::marker {
                    font-size: 25px;
                }

                h6 {
                    font-family: $kt;
                    font-size: 25px;
                    font-weight: 700;
                    margin-bottom: 2px;
                }
            }
        }

        .abh-block2-text2 {

            h3 {
                margin: var(--h3-top) 0 30px;
            }

            p:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    .abh-block3 {
        margin-bottom: var(--block-bot);
        
        h3 {
            margin: var(--h3-top) 0 33px;
        }

        .abh-block3-img {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
        }
    }

    .abh-block4-text {

        h3 {
            margin: var(--h3-top) 0 33px;
        }

        p:last-child {
            margin-bottom: 0;
        }

        ul {
            li {
                margin-bottom: 16px;
            }
        }

    }

    @include mq(lg) {

        .abh-block2 {
            .prem-year {
                columns: unset;
            }
        }
    }
    
    @include mq(md) {
        .abh-block1 {
            .abh-block1-img {
                background-image: none;
            }
        }

    }
}