.page-account {
    margin-bottom: 55px;
    
    h5 {
        font-size: 24px;
        font-weight: 500;
        color: $lbl;
        text-align: center;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        margin-bottom: 44px;
    }

    .user-data {
        margin-bottom: 52px;
    }

    .btn-prime {
        max-width: none;
        width: 100%;
    }
}