.advantages {
    margin-top: 10px;
    margin-bottom: 78px;
    
    .adv-item {
        background-color: $lbl;
        font-size: 18px;
        padding: 40px 30px 30px;
        height: 100%;
        min-height: 338px;
        letter-spacing: normal;
        transition: all .5s ease-in-out;
        margin-bottom: 30px;
        .image {
            background-color: $beg;
            margin-bottom: 16px;
            height: 114px;
            width: 114px;
            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-position: center;
            mask-position: center;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            transition: all .5s ease-in-out;
        }

        &:hover {
            background-color: $beg;
            color: $bg;
            .image {
                background-color: $bg;
                height: 150px;
                width: 150px;
            }
        }
    }
}