.affiche {
    .affiche-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 64px;

        h3 {
            margin-bottom: 0;
        }

        a {
            font-weight: 700;
            font-size: 20px;
            color: $fc;
            line-height: 1;
            text-decoration: underline;
            text-decoration-color: $fc;
            text-decoration-skip-ink: none;

            &:hover {
                text-decoration-color: transparent;
            }
        }

        @include mq(sm) {
            flex-direction: column;
            align-items: center;

            h3 {
                margin-bottom: 24px;
            }
        }
    }

}

.events-list {
    .event-item {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        transition: all .6s;

        &::before {
            background-color: #fff;
            content: "";
            position: absolute;
            inset: 0;
            opacity: 1;
            z-index: 0;
            transition: all .6s;
        }

        .container {
            position: relative;
            z-index: 1;
        }

        .event {
            border-top: 1px solid $fc;
            padding: 64px 0;

            h5 {
                font-family: $kt;
                font-size: 50px;
                font-weight: 700;
                line-height: 120%;
                padding: 44px 0 41px;
                min-height: 205px;
            }

            .event-calendar {
                .date {
                    font-family: $kt;
                    font-size: 50px;
                    font-weight: 700;
                    line-height: 1;
                    display: flex;
                    align-items: center;
                    margin-bottom: 24px;

                    .delimiter {
                        background-color: $fc;
                        flex-basis: 315px;
                        margin: 18px 12px 0;
                        height: 1px;
                        transition: all .6s;
                    }
                }

                .day-week {
                    font-size: 20px;
                }
            }

            .dostup {
                font-size: 20px;
                text-align: center;
                line-height: 130%;
                margin-top: 77px;
            }

            .event-footer {
                font-size: 20px;

                .event-address {
                    &::before {
                        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.2469 1.69336C7.90947 -0.564452 4.09054 -0.564452 1.75309 1.69336C-0.584362 3.95116 -0.584362 7.60818 1.75309 9.89778L6 14L10.2469 9.89778C12.5844 7.63998 12.5844 3.95116 10.2469 1.69336ZM4.35391 7.38558C3.4321 6.49517 3.4321 5.06417 4.35391 4.20556C5.27572 3.34696 6.7572 3.31516 7.64609 4.20556C8.5679 5.09597 8.5679 6.52697 7.64609 7.38558C6.72428 8.24418 5.27572 8.27598 4.35391 7.38558Z' fill='%231E181D' fill-opacity='0.5' /%3e%3c/svg%3e");
                        margin-right: 14px;
                        transition: all .6s;
                        opacity: 1;
                    }
                }

                a {
                    font-size: 16px;
                    text-decoration: underline;
                    text-decoration-color: $gld;
                    text-decoration-skip-ink: none;
                    color: $gld;

                    &:hover {
                        text-decoration-color: transparent;
                    }
                }
            }
        }

        &:hover {
            color: #fff;

            &::before {
                opacity: 0;
            }

            .event {
                .event-calendar {
                    .date {

                        .delimiter {
                            background-color: #fff;
                        }
                    }
                }

                .btn-black {
                    background-color: #fff;
                    color: $fc;
                }

                .event-footer {
                    .event-address {
                        &::before {
                            content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.2469 1.69336C7.90947 -0.564452 4.09054 -0.564452 1.75309 1.69336C-0.584362 3.95116 -0.584362 7.60818 1.75309 9.89778L6 14L10.2469 9.89778C12.5844 7.63998 12.5844 3.95116 10.2469 1.69336ZM4.35391 7.38558C3.4321 6.49517 3.4321 5.06417 4.35391 4.20556C5.27572 3.34696 6.7572 3.31516 7.64609 4.20556C8.5679 5.09597 8.5679 6.52697 7.64609 7.38558C6.72428 8.24418 5.27572 8.27598 4.35391 7.38558Z' fill='white' fill-opacity='0.5' /%3e%3c/svg%3e");
                            opacity: 0.6;
                        }
                    }
                } 
            }

        }
    }

    @include mq(lg) {
        .event-item {
            .event {

                h5 {
                    min-height: auto;
                }

                .btn-black {
                    margin-bottom: 24px;
                }
                .dostup {
                    margin-top: 0;
                    margin-bottom: 24px;
                    text-align: left;
                }
            }
        }
    }
    
    @include mq(md) {
        .event-item {
            .event {

                .event-calendar {
                    .date {
                        @include font-size(50px);
                    }
                }

                h5 {
                    @include font-size(50px);
                }

                .btn-black {
                    height: 48px;
                    width: 270px;
                }
            }
        }
    }

    @include mq(sm) {
        .event-item {
            .event {
                text-align: center;

                .btn-black {
                    margin: 0 auto 24px;
                }
                .dostup {
                    text-align: inherit;
                }
            }
        }
    }
}

.page-affiche {
    h1 {
        margin-bottom: 64px;
    }

    .btn-outline {
        margin: 64px auto 0;

        @include mq(380) {
            font-size: 16px;
            width: calc(100% - 24px);
        }
    }
}