.affiche {
    margin-bottom: 68px;
    h3 {
        margin-bottom: 92px;
    }
}

#affiche-slider {
    padding-bottom: 70px;

    .slick-list {
        margin-left: 116px;
        margin-right: 116px;

        .slick-slide {
            padding: 0 10px;
        }
    }

    .affiche-item {
        position: relative;
        overflow: hidden;

        &:before {
            content: "";
            background: linear-gradient(180deg, rgba(23, 23, 23, 0) 0%, #171717 100%);
            display: block;
            position: absolute;
            left: 0;
            top: 100%;
            height: 100%;
            width: 100%;
            @include trans(.5s);
        }

        .affiche-title {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            position: absolute;
            bottom: 29px;
            left: 0;
            text-align: center;
            transform: translate3d(0, 0, 0);
            opacity: 1;
            @include trans(.5s);
            height: 84px;
            width: 100%;
        }

        h5 {
            font-family: $bit;
            font-size: 30px;
            font-weight: 500;
            color: #fff;
            line-height: 100.5%;
            margin-bottom: 12px;
        }
        
        .date {
            font-family: $bit;
            font-size: 12px;
            font-weight: 300;
            color: #fff;
            line-height: 100.5%;
        }

        .affiche-caption {
            background: linear-gradient(180deg, $main 0%, $main 100%);
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 47px 21px;
            margin: 30px 25px;
            height: calc(100% - 60px);
            position: absolute;
            top: 100%;
            //top: 0;
            left: 0;
            @include trans(.5s);

            h5,
            .date {
                text-align: center;
            }

            .title {
                min-height: 84px;
                opacity: 0;
                /* will-change: transform, opacity; 
                transform: translateY(150px); */
                transform: translate3d(0, 150px, 0);
                @include trans(.5s);
            }

            .excerpt {
                font-family: $bit;
                font-size: 16px;
                font-weight: 400;
                line-height: 130%;
                margin: 0 18px;
            }
            .buttons {
                margin: 0 18px;
            }
        }

        &:hover {
            &::before {
                top: 0;
            }
            .affiche-title {
                transform: translate3d(0, -300px, 0);
                opacity: 0;
            }
            .affiche-caption {
                top: 0;

                .title {
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                }
            }
        }
    }

    .slick-prev,
    .slick-next {

        .chevron-left,
        .chevron-right {
            fill: $fc;
        }
    }

    .slick-prev {
        left: 36px;
    }

    .slick-next {
        right: 36px;
    }

    .slick-dots {
        bottom: 0;

        li {
            button {
                border-color: $fc;
            }

            &.slick-active {
                height: 10px;
                width: 10px;

                button {
                    background-color: $fc;
                }
            }
        }
    }

    @media (max-width: 1024px) {
        .slick-list {
            margin-left: 50px;
            margin-right: 50px;
        }
        .slick-prev {
            left: 15px;
        }
    
        .slick-next {
            right: 15px;
        }
    }
    @media (max-width: 968px) {
        .affiche-item {
            h5 {
                font-size: 24px;
            }
        }
    }
    @include mq(md) {
        .slick-list {
            margin-left: 0;
            margin-right: 0;
        }
        .slick-prev, .slick-next {
            display: none !important;
        }
    }

}

.event-slider {
    height: 988px;

    @include mq(md) {
        height: 1100px;
    }
}

#affiche-page-slider {

    height: 100%;

    .slick-list,
    .slick-list>div,
    .slick-slide,
    .slick-slide>div,
    .event-row,
    .event-item {
        height: 100%;
    }

    .event-row {
        display: flex;

        .event-banner {
            width: calc(100% / 2);
        }

        .event-info {
            text-align: center;
            padding: 88px 0 80px 2%;
            width: calc(100% / 2);

            .logo {
                margin-bottom: 57px;

                img {
                    display: inline-block;
                    margin: 0 auto;
                }
            }

            .description {
                font-family: $bit;
                font-weight: 300;
                font-size: 24px;
                line-height: 110%;
                margin-bottom: 85px;
            }

            .h3 {
                @include font-size(64px);
                margin-bottom: 18px;
                overflow-wrap: break-word;
            }

            .event-date {
                font-family: $bit;
                font-weight: 300;
                font-size: 36px;
                line-height: 110%;
                margin-bottom: 107px;
            }

            .btn-prim {
                margin: 0 auto;
                max-width: 304px;
                height: 70px;
            }
        }
    }

    .slick-next .chevron-right {
        fill: $fc;
    }

    .slick-dots {
        left: 25%;
        width: auto;
        transform: translateX(-50%);
    }

    @include mq(md) {

        .event-row {
            flex-wrap: wrap;

            .event-banner, .event-info {
                height: 50%;
                width: 100%;
            }

            .event-info {
                padding: 30px 2%;
                
                .logo {
                    margin-bottom: 30px;
    
                    img {
                        max-height: 130px;
                    }
                }

                .description {
                    margin-bottom: 30px;
                }

                .event-date {
                    margin-bottom: 40px;
                }
            }
        }

        .slick-next, .slick-prev {
            display: none;
        }

        .slick-dots {
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);

            li {
                button {
                    border: 2px solid $fc;
                }
                &.slick-active button {
                    background-color: $fc;
                }
            }

        }
    }

    @include mq(380) {
        .event-row {
            .event-info {
                .h3 {
                    font-size: 30px; 
                }
                .event-date {
                    font-size: 28px;
                }
            }
        }
    
    }

}