.last-articles {
    padding-top: 51px;
    
    h3 {
        text-align: center;
        margin-bottom: 86px;
    }

    .article-item {
        display: flex;

        .art-image {
            flex-basis: 47.3%;

            a {
                display: block;
            }
            img {
                filter: grayscale(.8);
                transition: all .5s;
            }
        }

        .art-text {
            flex: 1;
            padding-left: 30px;

            h5 {
                font-family: $osw;
                font-size: 32px;
                font-weight: 300;
                color: $beg;
                position: relative;
                margin: 40px 0 32px -63px;

                a {
                    color: $beg;
                }
            }
        }

        &:hover {
            .art-image {
                img {
                    filter: grayscale(0);
                }
            }
        }
    }

    @media (max-width: 500px) {
        .article-item {
            flex-direction: column;
            max-width: 380px;
            margin: 0 auto;

            .art-image {
                position: relative;
            }
            .art-text {
                padding-left: 0;

                h5 {
                    margin: 30px 0;
                }
            }
        }
    }
}