.page-cart {

    .cart {
        margin-bottom: 50px;

        .cart_item {
            border: 2px solid #D9D9D9;
            background: #FFF;
            padding: 24px;
            margin-bottom: 24px;
            position: relative;
            display: flex;
            width: 100%;

            .product-info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 1;
                padding-right: 20px;
                width: 100%;
            }

            .product-thumbnail {
                padding-right: 24px;

                img {
                    width: 174px;
                }
                
            }

            .product-name {
                font-size: 28px;
                font-weight: 700;
                max-width: 352px;
                margin-bottom: 12px;
            }

            .product-price {
                font-size: 20px;
                font-weight: 700;
                line-height: 130%;
                margin-bottom: 12px;
            }

            .quantity {
                .input-group {
                    display: flex;
                    align-items: center;

                    .input-number {
                        border-radius: 24px !important;
                        border: 2px solid #000;
                        text-align: center;
                        padding: 0 8px;
                        height: 25px;
                        max-width: 68px;
                    }
                    .input-group-btn {
                        .btn-number {
                            border-radius: 50%;
                            border: 2px solid #000;
                            background-color: transparent;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 130%;
                            padding: 0;
                            height: 20px;
                            width: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &[data-type="minus"] {
                                margin-right: 12px;
                            }
                            &[data-type="plus"] {
                                margin-left: 12px;
                            }
                        }
                    }
                }
            }

            .product-remove {
                position: absolute;
                right: 24px;
                top: 24px;
                line-height: 0;

                a {
                    line-height: 0;
                }

                .close-icon {
                    fill: #000;
                    height: 16px;
                    width: 16px;
                }
            }

            @include mq(sm) {
                flex-direction: column;
                align-items: center;

                .product-thumbnail {
                    margin-bottom: 24px;
                    padding-right: 0;
                }
                .product-info {
                    display: block;
                    text-align: center;
                    padding-right: 0;

                    .product-name {
                        max-width: unset;
                    }
                    
                }

                .quantity {
                    .input-group {
                        justify-content: center;
                    }
                }
            }
        }

    }

    .cart-sum {
        max-width: 416px;
        margin: 0 auto 100px;
    }

    .cart-total {
        border-top: 2px solid #D9D9D9;
        padding-top: 60px;

        table {
            margin-bottom: 51px;
            width: 100%;

            tr {
               
                td {
                    font-size: 20px;
                    padding-bottom: 30px;

                    &:nth-child(2) {
                        text-align: right;
                    }
                }

                &:last-child {
                    
                    td {
                        font-size: 28px;
                        font-weight: 700;
                        line-height: 130%;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }

    .btn-yellow {
        margin-bottom: 50px;
        width: 100%;
    }

    .go-catalog {
        font-weight: 700;
        display: inline-block;

        &::after  {
            border-top: 2px dashed $yel;
            content: "";
            display: block;
            height: 0;
            margin-left: auto;
            width: calc(100% - 20px);
            transition: all .3s;
        }

        .arrow-left {
            fill: #000;
            margin-bottom: 2px;
            height: 12px;
            width: 16px;
        }
    }
    

}