.banner-partners, .banner-services {
    margin-top: 100px;
    position: relative;
    z-index: 2;
    
    .banner-item {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 24px;
        color: #fff;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 306px;
        text-align: center;

        h5 {
            font-weight: 700;
            font-size: 38px;
            line-height: 116%;
            margin-bottom: 28px;

            @include mq(sm) {
                @include font-size(48px);

                br {
                    display: none;
                }
            }
        }

    }

}

.banner-services {
    margin-top: -162px;
}