#buy-ban {
    background-image: url("image/buy-ban.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #8a72c8;
    height: 306px;
    text-align: center;

    .text-buy-ban {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;

        h5 {
            font-size: 38px;
            font-weight: 600;
            line-height: 44px;
            margin-bottom: 22px;
            max-width: 670px;
        }

        .btn-green {
            padding: 4px 32px;
            width: fit-content;
        }
    }

    @include mq(xxl) {
        background-position: 58% center;
    }
    
    @include mq(lg) {
        background-position: calc(50vw - 1476px) center;
        position: relative;
        z-index: 2;

        &::before {
            background: rgba(136, 114, 200, 0.5);
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
        }
    }

    @include mq(md) {
        .text-buy-ban {
            h5 {
                br {
                    display: none;
                }
            }
        }
    }
    
    @include mq(sm) {
        background-position: calc(50vw - 1290px) center;
        height: 266px;

        .text-buy-ban {
            h5 {
                font-size: 22px;
                line-height: 25px;
                max-width: 256px;
            }
        }
    }
}