.home {
    .catalog-box {
        background: linear-gradient(to top, $lbl 26px, transparent 26px);
    }
}
.catalog-box {

    .container-lg {
        position: relative;
    }

    h3.h1 {
        position: absolute;
        left: 39.9%;
        top: 66px;
        z-index: 2;

        @include mq(md) {
            position: static;
            margin-bottom: 30px;
            text-align: center;
        }
        @include mq(sm) {
            font-size: calc(100vw / 5.26);
        }
    }
}

.catalog-container {
    overflow: hidden;

    .cat-item {
        position: relative;
        max-width: 100%;
        max-height: 728px;
        max-width: calc(50% - 22px);
        max-width: calc(50% - 13px);

        a {
            display: block;
        }

        img {
            filter: grayscale(78%);
            transition: all .5s;
        }

        .title {
            font-family: $osw;
            font-size: 80px;
            font-weight: 200;
            color: $beg;
            line-height: 1;
            position: absolute;
            transition: all .5s ease-in-out;
        }

        &.des-1 {
            float: left;

            .title {
                left: 48px;
                bottom: 66px;
            }

        }

        &.des-2 {
            float: right;
            margin-top: 26px;
            margin-bottom: 26px;

            .title {
                top: 38px;
                right: 86px;
            }
        }

        &:nth-child(2).des-2 {
            margin-top: 234px;
        }

        &.des-3 {
            float: left;
            margin-left: 69px;
            margin-left: calc($index / 41);

            .title {
                font-size: 64px;
                top: 44px;
                left: 47px;
                max-width: min-content;
            }

            a:hover {
                .title {
                    font-size: 48px;
                }
            }

            @include mq(lg) {
                margin-left: 0;
            }
        }

        &.des-4 {
            float: right;

            .title {
                bottom: 48px;
                left: 53px;
            }
        }

        &.catalog-text {
            font-weight: 300;
            float: left;
            margin-top: -45px;
            max-width: 555px;

            h5 {
                margin-bottom: 57px;
            }
        }

        a:hover {
            img {
                filter: grayscale(0);
            }

            .title {
                font-size: 64px;
            }
        }

        @include mq(md) {
            .title {
                font-size: calc(100vw / 9.17);
            }
            &.des-3 .title {
                font-size: calc(100vw / 14.28);
            }
        }
        @include mq(sm) {
            float: none !important;
            margin: 0 0 30px !important;
            max-width: none;

            .title, &.des-3 .title {
                font-size: calc(100vw / 6.25);
            }
        }

    }
}

.page-catalog {
    .catalog-container .cat-item.catalog-text {
        margin-top: 66px;
    }
}