.product-list {
    margin-bottom: 100px;

    .sorts {
        display: flex;
        align-items: center;
        margin-bottom: 42px;

        .sort-block {
            border-radius: 24px;
            border: 2px solid #D9D9D9;
            padding: 8px 32px;
            margin-right: 15px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                display: inline-block;
                &:first-of-type {
                    margin: 0 12px;
                }
            }

            .chevron-down, .chevron-up {
                fill: $fc;
                height: 8px;
                width: 14px;
            }

            .chevron-down {
                fill: #FFD500;
                
            }
        }

        @include mq(sm) {
            justify-content: center;
        }

        @media (max-width: 500px) {
            flex-direction: column;
            margin-bottom: 24px;

            .sort-block {
                margin-bottom: 14px;
            }
        }
    }

}

.product-item {
    border: 2px solid #D9D9D9;
    background: #FFF;
    padding: 24px;
    max-width: 306px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    .title {
        flex: 1 1 auto;
        margin: 17px 0 10px;
        h5 {
            font-size: 28px;
            font-weight: 700;
            color: $fc;
            line-height: 130%;
            margin: 0;
        }
    }

    .item-footer {
        .price {
            font-size: 20px;
            font-weight: 700;
            line-height: 130%;
            margin-bottom: 18px;
        }
    }
}