.page-category {

    h1 {
        margin-bottom: 78px;
    }
    .right-sidebar {
        h5 {
            margin-bottom: 43px;

            @include mq(sm) {
                text-align: center;
            }
        }
    }
    
    .product-list {
        overflow: hidden;
        .product-item {
            float: left;
            margin-bottom: 30px;
            width: calc(50% - 15px);
            &:nth-child(2n+2) {
                float: right;
            }
            &:nth-child(2) {
                margin-top: 104px;
            }

            @include mq(sm) {
                float: none !important;
                max-width: 400px;
                margin: 0 auto 30px !important;
                width: 100%;
            }
        }
    }
}

.product-item {
    border: none;
    border-radius: 0;
    position: relative;

    &::before {
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        content: "";
        display: block;
        height: 139px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }
    &::after {
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        transform: matrix(1, 0, 0, -1, 0, 0);
        content: "";
        display: block;
        height: 182px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
    }
    
    .prod-name {
        font-family: $osw;
        font-size: 20px;
        font-weight: 300;
        line-height: 1;
        color: $fc;
        position: absolute;
        left: 36px;
        top: 39px;
        z-index: 2;
        transition: all .3s ease-in-out;
    }

    .prod-card-footer {
            position: absolute;
            left: 36px;
            right: 36px;
            bottom: 26px;
            z-index: 3;
        .price {
            font-family: $osw;
            font-size: 24px;
            font-weight: 300;
            line-height: 1;
            margin-bottom: 22px;
            transition: all .3s ease-in-out;
        }
        .btn-outline {
            max-width: none;
        }
    }

    &:hover {
        .prod-name {
            font-size: 24px;
        }
        .price {
            font-size: 32px;
        }
    }
}