.page-checkout {
    .checkout-form {
        padding-top: 54px;
        max-width: 526px;

        @include mq(lg) {
            padding-top: 0;
            max-width: unset;
            margin-bottom: 100px;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 51px;
        }
    }

    .total-order {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 100px;

        table {
            width: 100%;

            tr {
               
                td {
                    &:nth-child(2) {
                        text-align: right;
                    }
                }

                
            }
        }
    }
}