#closed-circle {
    background: #f2f9ce;
    padding: 70px 0 98px;

    h3 {
        color: #3a2676;
        font-size: 45px;
        font-weight: 600;
        line-height: 55px;
        text-transform: uppercase;
        margin-bottom: 47px;

        &::before {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 65.4414 65.3821' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='65.441406' height='65.382080' fill='none' customFrame='%23000000'%3e%3cg id='Group 403'%3e%3cpath id='Vector' d='M17.0516 41.0042L20.6219 37.3461C20.9798 36.9801 20.7945 36.3677 20.295 36.2538C14.2847 34.8736 9.78783 29.4808 9.78783 23.0567C9.78783 17.116 13.6332 12.0581 18.9657 10.2383C19.0623 10.2049 19.151 10.1508 19.2223 10.0771L24.1324 5.04695C24.3798 4.79371 24.3798 4.38854 24.1324 4.1353L20.2881 0.197469C20.1419 0.0478292 19.9313 -0.0246886 19.7241 0.0075415C8.56666 1.74451 0 11.4182 0 23.0567C0 34.6952 8.42394 44.2065 19.4445 46.0609C20.0683 46.1657 20.4654 45.414 20.0234 44.9616L17.0516 41.9159C16.8041 41.6627 16.8041 41.2575 17.0516 41.0042Z' fill='rgb(205,233,73)' fill-rule='nonzero' transform='matrix(0.759556,0.650442,-0.64999,0.759943,29.9883,0)' /%3e%3cpath id='Vector' d='M4.36706 1.10957L7.71063 4.53517L3.64656 8.69976C3.2886 9.06696 3.47506 9.68048 3.97573 9.79328C10.0103 11.1562 14.5301 16.5605 14.5301 23.0007C14.5301 28.9737 10.6433 34.0545 5.26597 35.849C5.16699 35.8824 5.07721 35.9377 5.0047 36.0113L0.185594 40.9483C-0.0618645 41.2015 -0.0618645 41.6067 0.185594 41.8599L4.08162 45.8519C4.22895 46.0027 4.43957 46.0752 4.64675 46.0418C15.7778 44.2818 24.3168 34.6208 24.3168 23.0007C24.3168 11.3806 15.9308 1.89461 4.94715 0.0102945C4.32218 -0.0967555 3.92394 0.656048 4.36706 1.10957Z' fill='rgb(136,114,200)' fill-rule='nonzero' transform='matrix(0.759556,0.650442,-0.64999,0.759943,46.918,14.5703)' /%3e%3c/g%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            content: "";
            margin-right: 15px;
            margin-top: -10px;
            display: inline-block;
            vertical-align: middle;
            height: 65px;
            width: 65px;
        }
    }

    .clc-item {
        background-color: $sal;
        border-radius: 24px;
        color: #6546bf;
        font-size: 42px;
        font-weight: 600;
        line-height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 28px 8px 32px;

        img {
            width: 171px;
        }
    }

    .clc-arrowbtn {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 98.1133 42.0413' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='98.113281' height='42.041260' fill='none' customFrame='%23000000'%3e%3cpath id='Vector' d='M1.42327 7.99949L44.783 40.3893C47.0442 42.5919 51.0728 42.5919 53.334 40.3893L96.6937 7.99949C99.9103 4.87807 97.2988 0 92.4103 0L5.69077 0C0.818177 0 -1.79328 4.87807 1.40735 7.99949L1.42327 7.99949Z' fill='rgb(192.767,178.535,234.168)' fill-rule='nonzero' /%3e%3c/svg%3e ");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin: 30px auto;
        height: 42px;
        width: 98px;
    }

    .clc-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;

        .list-item {
            border-radius: 24px;
            background: #8872c8;
            color: #ffffff;
            font-size: 24px;
            font-weight: 400;
            line-height: 30px;
            display: flex;
            align-items: center;
            padding: 8.5px 32px;

            &::before {
                content: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20.000000' height='20.000000' fill='none' customFrame='%23000000'%3e%3cpath id='Subtract' d='M10 0C15.5234 0 20 4.47733 20 10C20 15.5227 15.5227 20 10 20C4.47733 20 0 15.5227 0 10C0 4.47733 4.47733 0 10 0ZM15.8184 12.1299C15.0498 11.6648 14.7411 12.5629 14.3809 13.0322C12.3854 15.6312 7.76881 15.6374 5.77539 13.0322C5.5829 12.7808 5.31358 12.225 5.06152 12.0996C4.53548 11.8382 3.92494 12.2544 4.00781 12.8311C4.04421 13.0851 4.34283 13.5042 4.49902 13.7207C5.99233 15.7894 8.19477 16.5269 10.7012 16.377C12.7268 16.2557 14.4735 15.3661 15.6572 13.7207C15.9819 13.2686 16.5033 12.5443 15.8184 12.1299ZM6.2168 5.59277C5.37285 5.59277 4.68945 6.27714 4.68945 7.12109C4.68959 7.96493 5.37293 8.64844 6.2168 8.64844C7.06058 8.64833 7.744 7.96486 7.74414 7.12109C7.74414 6.27721 7.05998 5.59288 6.2168 5.59277ZM13.7998 5.59277C12.9559 5.59279 12.2725 6.27715 12.2725 7.12109C12.2726 7.96492 12.956 8.64842 13.7998 8.64844C14.6437 8.64844 15.327 7.96493 15.3271 7.12109C15.3271 6.27714 14.6431 5.59277 13.7998 5.59277Z' fill='rgb(205,233,73)' fill-rule='evenodd' /%3e%3c/svg%3e ");
                margin-right: 12px;
                line-height: 20px;
            }
        }
    }

    @include mq(xxl) {
        .clc-item {
            font-size: 36px;
            line-height: 38px;
        }
    }
    
    @include mq(xl) {
        .clc-item {
            font-size: 30px;
            line-height: 33px;

            img {
                width: 130px;
            }
        }
    }

    @include mq(md) {
        .clc-list {
            .list-item {
                padding: 8px 24px;
                br {
                    display: none;
                }
            }
        }
        
    }
    @include mq(sm) {
        padding: 36px 0 55px;

        h3 {
            font-size: 28px;
            line-height: 34px;
            margin-bottom: 19px;

            &::before {
                margin-top: -7px;
                height: 37px;
                width: 37px;
            }
        }

        .clc-item {
            font-size: 28px;
            line-height: 34px;
            padding: 4px 16px 4px 26px;

            img {
                width: 103px;
            }
        }

        .clc-list {
            .list-item {
                font-size: 16px;
                line-height: 18px;
                padding: 8px 24px;
            }
        }
    }
}