.comfort {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 670px;
    margin-bottom: 61px;
    overflow: hidden;

    position: relative;
    z-index: 2;

    &::before {
        background-color: rgb(161, 145, 129, .8);
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
    }

    .container {
        position: relative;
        z-index: 2;
    }

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        min-width: 100%;
        min-height: 100%;
        z-index: 0;

        /* @media (orientation: landscape) {
            width: 100%;
            height: auto;
        }

        @media (orientation: portrait) {
            width: auto;
            height: 100%;
        } */
    }

    h3 {
        color: #fff;
        max-width: 782px;
        text-align: center;
        margin: 0 auto 65px;
    }

    .button-block {
        display: flex;
        align-items: center;
        justify-content: center;

        .btn-green {
            margin-right: 12px;
            max-width: 224px;
            height: 60px;
        }

        .btn-white {
            max-width: fit-content;
            height: 60px;

        }

        @include mq(480) {
            display: block;

            .btn {
                max-width: 100%;
            }

            .btn-green {
                margin-right: 0;
                margin-bottom: 24px;
            }
        }
    }
}