.comfort {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 670px;
    margin-bottom: 61px;

    position: relative;
    z-index: 2;

    h3 {
        color: #fff;
        max-width: 782px;
        text-align: center;
        margin: 0 auto 65px;
    }

    .button-block {
        display: flex;
        align-items: center;
        justify-content: center;

        .btn-green {
            margin-right: 12px;
            max-width: 224px;
            height: 60px;
        }

        .btn-white {
            max-width: fit-content;
            height: 60px;

            span {
                background-color: $grey;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 0;
                margin-left: 12px;
                height: 34px;
                width: 34px;

                .telegram {
                    fill: $fc;
                    height: 34px;
                    width: 34px;
                }
            }
        }

        @include mq(480) {
            display: block;

            .btn {
                max-width: 100%;
            }

            .btn-green {
                margin-right: 0;
                margin-bottom: 24px;
            }
        }
    }
}