#content {

    .contact-box {
        border: 3px solid $gr;
        border-radius: 0px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 26px 38px 52px 0;
        margin-left: 45px;
        margin-bottom: 52px;

        .image {
            margin-left: -45px;

            img {
                filter: grayscale(0);
                margin-bottom: 0;
            }
        }

        .contact-info {
            margin-left: 60px;
            .media {
                font-weight: 400;
                line-height: 19px;
                margin-bottom: 23px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .icon {
                fill: $red;
                margin-right: 8px;
                margin-top: 2px;
                height: 20px;
                width: 20px;
            }
        }

        @include mq(lg) {
            flex-direction: column;
            flex-wrap: wrap;

            .image {
                margin-bottom: 50px;
            }
        }
        
        @include mq(sm) {
            padding: 26px 26px 52px 0;
            margin-left: 30px;
            
            .contact-info {
                margin-left: 30px;
            }

            .image {
                margin-left: -30px;
            }
        }
    }

}

.maps {
    margin-bottom: -10px;
    + .footer-text {
        margin-top: 0;
    }
}