.page-contacts {
    
    h1 {
        margin-bottom: 80px;
        margin-top: 105px;
    }

    .contacts-row {
        position: relative;
        
        .maps {
            position: absolute;
            right: 0;
            top: 0;
            margin-top: -157px;
            width: 46.72vw;

            nav {
                text-align: center;
            }

            .nav-tabs {
                background-color: $lbl;
                border-bottom: none;
                justify-content: center;
                align-items: center;
                margin-bottom: -27px;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                z-index: 1;
                width: 307px;

                .nav-link {
                    background-color: $lbl;
                    border: none;
                    border-radius: 0;
                    font-size: 19px;
                    font-weight: 400;
                    color: $fc;
                    padding: 10px 8px;
                    margin-bottom: 0;
                    height: 54px;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                span {
                    background-color: #E8DBCC;
                    display: block;
                    width: 27.16px;
                    height: 1px;
                    transform: rotate(121.26deg);
                }
            }
        }

        .contacts-info {
            background-color: $lbl;
            font-size: 15px;
            padding: 79px 68px;
            position: relative;
            max-width: 701px;
            z-index: 1;

            .col-12 {
                margin-bottom: 12px;
            }

            .col-sm-3 {
                font-weight: 500;
                color: $beg;
            }

            a {
                color: $fc;
                display: inline-block;

                &::after {
                    background-color: $beg;
                    content: "";
                    display: block;
                    opacity: 0;
                    transform: scaleX(0);
                    transition: all .5s;
                    height: 1px;
                    width: 100%;
                }

                &:hover {
                    &:after {
                        opacity: 1;
                        transform: scaleX(1);
                    }
                }
            }
        }
    }

    @include mq(lg) {
        h1 {
            margin-top: 0;
        }
        .contacts-row {
            .contacts-info {
                margin-bottom: 30px;
            }
            .maps {
                position: static;
                margin-top: 0;
                width: 100%;

                iframe {
                    height: 350px;
                }
            }
        }
    }
    
    @include mq(sm) {
        h1 {
            font-size: 20vw;
        }
        .contacts-row {
            .contacts-info {
                padding: 40px;
            }
            
        }
    }
}