.courses {
    overflow: hidden;

    .courses-box-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 49px;

        .btn-outline {
            width: 162px;
        }
    }

    .courses-slider-wrap {
        position: relative;
        margin-left: calc((100% - 1296px) / 2);
        margin-bottom: 58px;

        #courses-slider {
            margin-right: -24px;
        }

        .course-item {
            border-radius: 30px;
            overflow: hidden;
            max-width: 526px;

            .crs-img {
                position: relative;

                &::after {
                    background: rgb(36, 66, 53);
                    opacity: 0.65;
                    content: "";
                    position: absolute;
                    inset: 0;
                }
            }

            .crs-info {
                background-color: $fc;
                color: #fff;
                padding: 32px;

                .crs-status {
                    border: 2px solid $pnk;
                    border-radius: 20px;
                    font-size: 15px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 0;
                    margin-bottom: 32px;
                    height: 28px;
                    width: 80px;
                }

                h5 {
                    color: #fff;
                    font-size: 38px;
                    font-weight: 400;
                    line-height: 1.2632;
                    height: 155px;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &::after {
                        content:  url("data:image/svg+xml;charset=UTF-8,%3csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs/%3e%3cpath id='Vector' d='M15.35 29L14.76 29C14.02 29 13.28 28.97 12.56 28.87C6.18 28.04 0.95 22.83 0.13 16.44C0.03 15.71 0.01 14.97 0 14.24C-0.01 14.04 -0.01 13.84 0.01 13.64C0.69 1.26 15.95 -4.61 24.77 4.25C33.58 13.08 27.72 28.31 15.35 29L15.35 29ZM14.04 1.31C3.67 1.71 -2.28 13.43 3.67 22.01C9.21 29.98 21.3 29.42 26.01 20.93C30.86 12.19 24.67 1.6 14.82 1.29L14.04 1.31Z' fill='%23718878' fill-opacity='1.000000' fill-rule='nonzero'/%3e%3cpath id='Vector' d='M17.62 20.22C17.66 20.27 17.47 20.98 17.36 21.06C17.26 21.13 16.18 21.5 15.99 21.56C14.74 21.92 12.72 21.89 12.28 20.37C11.83 18.86 13.26 16.26 13.42 14.69C13.55 13.4 12.78 13.31 11.9 13.51C11.61 13.57 11.33 13.31 11.42 13.02C11.45 12.91 11.53 12.82 11.64 12.78C12.7 12.36 13.94 11.89 15.08 12.19C18.4 13.05 15.04 17.77 15.35 19.79C15.5 20.69 17.01 20.47 17.62 20.21L17.62 20.22Z' fill='%23718878' fill-opacity='1.000000' fill-rule='nonzero'/%3e%3cpath id='Vector' d='M14.58 7.77C16.37 6.05 19.1 8.7 17.16 10.21C15.38 11.6 13.01 9.29 14.58 7.77Z' fill='%23718878' fill-opacity='1.000000' fill-rule='nonzero'/%3e%3c/svg%3e ");
                        margin-left: 10px;
                        line-height: 29px;
                        vertical-align: middle;
                    }
                }

                .crs-footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .btn-pink {
                        height: 48px;
                        line-height: 1;
                    }

                    .crs-price {
                        font-weight: 600;

                        span {
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .slick-list {
            margin: 0 -12px; //для пробела
        }

        .slick-slide {
            padding: 0 12px; //для пробела
        }

        @include mq(xxl) {
            margin-left: calc((100% - 1116px) / 2);

            .course-item {
                .crs-info {
                    h5 {
                        font-size: 30px;
                    }
                }
            }
        }
        
        @include mq(xl) {
            margin-left: calc((100% - 936px) / 2);

            .slick-prev {
                left: -50px;   
            }
            
            .slick-next {
                right: -50px;
            }

            .course-item {
                .crs-info {
                    
                    .crs-footer {
                        flex-direction: column-reverse;
                        justify-content: center;

                        .btn-pink {
                            margin-top: 12px;
                        }
                    }
                }
            }
        }
        
        @include mq(lg) {
            margin-left: calc((100% - 696px) / 2);
        }

        @include mq(md) {
            margin-left: 0;

            #courses-slider {
                margin-right: -34px;
                margin-left: 12px;
            }

            .slick-prev {
                top: 10%;
                left: 24px;
                z-index: 9;    
            }
            
            .slick-next {
                top: 10%;
                right: 24px;
                z-index: 9;
            }

            .slick-slide {
                text-align: center;
            }

            .course-item {
                text-align: left;
            }
        }

        @media (max-width: 678px) {
            #courses-slider {
                margin-right: 12px;
                margin-left: 12px;
            }

            .slick-prev {
                top: 50%;
                left: 0px;   
            }
            
            .slick-next {
                top: 50%;
                right: 0px;
            }
        }
        
        @media (max-width: 610px) {
            
            .slick-prev {
                top: 17%;  
            }
            
            .slick-next {
                top: 17%;
            }
        }
    }

    .consult {
        background: linear-gradient(to top, $grey 50%, transparent 50%);
        
        .consult-box {
            background-size: cover;
            background-position: center;
            border-radius: 20px;
            color: #fff;
            padding: 32px;
            height: 248px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h5 {
                font-size: 38px;
                font-weight: 400;
                margin-bottom: 55px;

                @include mq(420) {
                    font-size: 30px;
                }
            }

            .btn-pink {
                height: 48px;
                max-width: 200px;
            }
        }
    }
}