.forwhom {
    background-color: $grey;
    padding: 100px 0 58px;

    @include mq(sm) {
        padding: 58px 0;
    }

    h3 {
        margin-bottom: 58px;
    }

    .fw-item {
        border: 2px solid $fc;
        border-radius: 20px;
        padding: 34px 32px 10px;
        height: 100%;

        .fw-icon {
            display: flex;
            align-items: center;
            margin-bottom: 24px;
            height: 90px;
            width: 90px;
        }

        h5 {
            font-size: 38px;
            font-weight: 400;
            line-height: 48px;
            margin-bottom: 20px;

            @include mq(xl) {
                font-size: 30px;
                line-height: 1.3;
            }

            @include mq(sm) {
                @include font-size(38px);
                line-height: 1.3;
            }
        }
    }

    .btn-pink {
        max-width: 200px;
        margin: 58px auto 0;
    }
}