.goods-filter {
    margin-bottom: 30px;

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            margin-bottom: 12px;
            padding: 0 5px;

            a {
                border: 2px solid $lbl;
                border-radius: 60px;
                font-size: 12px;
                font-weight: 400;
                color: $lbl;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 30px;
                height: 28px;
                width: fit-content;

                &:hover {
                    box-shadow: 0px 2px 0px 0px $lbl;
                    background: #f5f4f4;
                }

                &:active {
                    background-color: $lbl;
                    box-shadow: none;
                    color: #fff;
                }
            }
        }

        @include mq(lg) {
            justify-content: center;
        }
    }
}

.goods-cat-block {
    margin-bottom: 45px;

    h5 {
        text-align: center;
        margin-bottom: 36px;

        a {
            font-size: 24px;
            font-weight: 500;
            color: $lbl;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .prod-item {
        img {
            filter: grayscale(100%);
            transition: all .5s;
        }

        .prod-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 9px;

            .prod-title {
                font-size: 18px;
                font-weight: 500;
                flex: auto;
                padding-right: 12px;
            }

            .price {
                font-size: 20px;
                font-weight: 500;
                min-width: 76px;
            }

            .btn-cart {
                flex-shrink: 0;
            }

            @include mq(lg) {
                flex-wrap: wrap;

                .prod-title {
                    width: 100%;
                }
            }
        }

        &:hover {
            img {
                filter: grayscale(0);
            }
        }
    }
}

//Single product
#content.product-page {
    margin-bottom: 65px;

    .mb-image {
        filter: grayscale(0);
    }

    .main-block {
        align-items: flex-start;
        position: relative;
        margin-bottom: 52px;

        h1 {
            font-size: 32px;
            font-weight: 600;
            text-align: left;
            margin-bottom: 13px;
        }

        .weight {
            font-size: 12px;
            font-weight: 500;
            line-height: 1;
        }

        .description {
            margin-top: 28px;

            strong {
                font-weight: 500;
            }
        }
    }

    .price-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: -24px;
        right: 18px;

        .price {
            background-color: #fff;
            font-size: 24px;
            font-weight: 500;
            margin-right: 22px;
            padding: 10px 22px;
        }
    }

    @media (max-width: 441px) {
        .mb-text {
            padding-bottom: 60px;
        }
        
        .price-btn {
            flex-direction: column;
            left: 18px;

            .price {
                margin-right: 0;
            }
        }
        
    }

    .attributes-group {
        margin-bottom: 30px;

        h5 {
            font-size: 24px;
            font-weight: 500;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            text-align: center;
            margin-bottom: 21px;
        }
        ul {
            li {
                display: table;
                border-collapse: collapse;
                margin-bottom: 8px;

                span:nth-child(1) {
                    font-size: 16px;
                    font-weight: 500;
                    overflow: hidden;
                    position: relative;
                    display: table-cell;
                    width: 100%;

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 0.46875em; /* Подбирается под семейство шрифта на глаз */
                        margin-left: 7px; /* Отступ от названия */
                        width: 100%;
                        height: 0;
                        border-bottom: 1px dotted;
                    }

                    img {
                        margin-right: 9px;
                        vertical-align: middle;
                    }
                }

                span:nth-child(2) {
                    font-size: 16px;
                    font-weight: 500;
                    display: table-cell;
                    padding-left: 7px;
                    white-space: nowrap;
                    vertical-align: bottom;
                }
            }
        }
    }
}