.goods {
    margin-bottom: 86px;
    
    .product-info {
        color: #fff;
        height: 100%;
        padding: 64px;
        position: relative;

        h5 {
            font-size: 38px;
            font-weight: 700;
            line-height: 115%;
            margin-bottom: 30px;
            margin-top: 10px;

            a {
                color: #fff;
            }
        }

        &.prod-1 {
            background: linear-gradient(71deg, #AF39FE -1.3%, #EB4798 49.45%, #FFD04D 101.27%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: static;
        }

    }

    .first-product {
        margin-bottom: 44px;
        position: relative;
    }

    .other-products {

        .col {
            text-align: center;
            
            .product-info {
                padding: 30px 60px 70px;
            }

            &:nth-child(1) {
                .product-info {
                    background: linear-gradient(71deg, #AF39FE -1.3%, #EB4798 49.45%, #FFD04D 101.27%);
                }
            }

            &:nth-child(2) {
                .product-info {
                    background-color: $green;
                }
            }

            &:nth-child(3) {
                .product-info {
                    background-color: $viol;
                }
            }

            &:nth-child(4) {
                .product-info {
                    background: linear-gradient(20deg, #EB4798 -21.9%, #FFD04D 49.79%);
                }
            }
        }

    }

    @include mq(xxl) {
        .first-product {
            padding: 0;
        }
    }

    @include mq(sm) {
        .other-products {
            .col {
                .product-info {
                    padding: 30px 30px 40px;
                }
            }
        }
    }

}
