// HEADER
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    transition: all .5s;

    .admin-bar & {
        top: 32px;
        
        @media (max-width: 782px) {
            top: 46px;
        }
        
        @media (max-width: 600px) {
            &.admbar {
                top: 0;
            }
        }
    }

    &.sm-header {
        .header-row-wrap {
            padding: 10px 0;
        }
        .logo {
            img {
                max-width: 75px;
            }
        }
    }

    .header-row-wrap {
        background-color: $grey;
        border-bottom: 2px solid $lgrn;
        padding: 15px 0 21px;
        position: relative;

        .header-row {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                img {
                    transition: all .5s;
                }
            }

            .main-menu {
                flex-basis: 500px;
                margin-left: auto;
                margin-right: 73px;

                >ul {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;
                    justify-content: space-between;

                    >li {
                        &.menu-item-has-children {

                            &::after {
                                content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13.869995' height='13.229980' viewBox='0 0 13.87 13.23' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs/%3e%3cpath id='Vector' d='M6 1.26L7.26 0L13.87 6.61L7.26 13.23L6 11.97L10.34 7.61L0 7.61L0 5.61L10.35 5.61L6 1.26Z' fill='%23718878' fill-opacity='1.000000' fill-rule='evenodd'/%3e%3c/svg%3e");
                                margin-left: 12px;
                            }

                            .submenu {
                                background-color: $grey;
                                border: none;
                                border-bottom: 2px solid $lgrn;
                                padding: 49px 0 100px;
                                opacity: 0;
                                position: absolute;
                                inset: 100% auto auto 0;
                                width: 100%;
                                transition: all .5s ease;
                                transform: scaleY(0);
                                transform-origin: top;
                                z-index: 9;

                                .sbm-title {
                                    font-weight: 400;
                                    color: $lgrn;
                                    margin-bottom: 51px;
                                }

                                ul {
                                    columns: 3;
                                    margin-left: -12px;
                                    margin-right: -12px;
                                    margin-bottom: 0;

                                    li {
                                        display: flex;
                                        margin-bottom: 38px;
                                        padding-left: 12px;
                                        padding-right: 12px;

                                        &::before {
                                            content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13.869995' height='13.229980' viewBox='0 0 13.87 13.23' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs/%3e%3cpath id='Vector' d='M6 1.26L7.26 0L13.87 6.61L7.26 13.23L6 11.97L10.34 7.61L0 7.61L0 5.61L10.35 5.61L6 1.26Z' fill='%23718878' fill-opacity='1.000000' fill-rule='evenodd'/%3e%3c/svg%3e");
                                            margin-right: 12px;
                                            line-height: 28px;
                                            vertical-align: text-bottom;
                                        }

                                        a {
                                            font-size: 28px;
                                            font-weight: 400;
                                            text-decoration: underline;
                                            text-decoration-color: transparent;
                                            text-decoration-skip-ink: none;
                                            text-underline-offset: 6px;

                                            &:hover {
                                                text-decoration-color: $fc;
                                            }
                                        }
                                    }
                                }

                                &.open {
                                    opacity: 1;
                                    transform: scaleY(1);
                                }
                            }
                        }

                        >a {
                            &::after {
                                display: none;
                            }

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            .btn-pink {
                height: 48px;
                
                &::after {
                    display: none;
                }
            }
        }
    }
}