.header-home {
    position: relative;
    z-index: 0;
    will-change: transform;

    .header-left {
        border-radius: 24px;
        background: #f7f7f7;
        padding: 26px 24px 49px;

        .logo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 26px;
        }

        .header-left-title {
            margin-top: 114px;

            h2 {
                font-family: $ff;
                font-size: 48px;
                @include font-size(48px);
                font-weight: 300;
                color: $fc;
                line-height: 1.37;
                position: relative;
                margin-bottom: 0;
                z-index: 1;

                span {
                    font-weight: 500;
                }

                &::before {
                    content: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 69.1113 34.6226' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='69.111328' height='34.622559' fill='none' customFrame='%23000000'%3e%3cpath id='Vector' d='M69.112 0C69.112 19.1325 53.6518 34.6225 34.556 34.6225C15.4602 34.6225 0 19.1325 0 0L69.112 0Z' fill='rgb(160,164,105)' fill-rule='nonzero' /%3e%3c/svg%3e ");
                    margin-right: 16px;
                }

                &::after {
                    content: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 71.8613 71.999' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='71.861328' height='71.999023' fill='none' customFrame='%23000000'%3e%3cpath id='Форма 1' d='M42.5865 2.73682C44.4078 4.56128 45.3185 6.95911 45.3185 9.35699C45.3185 11.7549 44.4078 14.1528 42.5865 15.9775L35.979 22.5977L29.3715 15.9775C27.5502 14.1528 26.6395 11.7549 26.6395 9.35699C26.6395 6.95911 27.5502 4.56128 29.3715 2.73682C33.0141 -0.912598 38.9439 -0.912598 42.5865 2.73682ZM55.8191 16.0381L55.8523 16.0703C57.6766 17.8984 58.5887 20.2946 58.5887 22.6907C58.5887 25.0868 57.6766 27.4829 55.8523 29.311L55.8191 29.3433C52.1706 32.9995 46.2526 32.9995 42.6041 29.3433L42.5709 29.311C40.7467 27.4829 39.8345 25.0868 39.8345 22.6907C39.8345 20.2946 40.7467 17.8984 42.5709 16.0703L42.6041 16.0381C46.2526 12.3813 52.1706 12.3813 55.8191 16.0381ZM29.2777 16.0728L29.3109 16.105C31.1352 17.9331 32.0473 20.3292 32.0473 22.7253C32.0473 25.1215 31.1352 27.5176 29.3109 29.3457L29.2777 29.3779C25.6293 33.0342 19.7112 33.0342 16.0627 29.3779L16.0295 29.3457C14.2053 27.5176 13.2931 25.1215 13.2931 22.7253C13.2931 20.3292 14.2053 17.9331 16.0295 16.105L16.0627 16.0728C19.7112 12.416 25.6293 12.416 29.2777 16.0728ZM42.5435 29.3423L42.5768 29.3745C44.401 31.2026 45.3131 33.5988 45.3131 35.9949C45.3131 38.391 44.401 40.7871 42.5768 42.6152L42.5435 42.6475C38.8951 46.3037 32.977 46.3037 29.3285 42.6475L29.2953 42.6152C27.4711 40.7871 26.559 38.391 26.559 35.9949C26.559 33.5988 27.4711 31.2026 29.2953 29.3745L29.3285 29.3423C32.977 25.6855 38.8951 25.6855 42.5435 29.3423ZM69.1298 29.353C70.9512 31.1775 71.8618 33.5753 71.8618 35.9732C71.8618 38.3711 70.9512 40.769 69.1298 42.5938C65.4872 46.2427 59.5574 46.2427 55.9148 42.5938L49.3073 35.9731L55.9148 29.353C59.5574 25.7036 65.4872 25.7036 69.1298 29.353ZM15.9709 29.4092L22.5784 36.0293L15.9709 42.6499C12.3283 46.2988 6.39852 46.2988 2.7559 42.6499C0.918958 40.8413 0.000488341 38.4514 0.000488341 36.0535C0.00048856 33.6556 0.918958 31.2498 2.7559 29.4092C6.39852 25.7598 12.3283 25.7598 15.9709 29.4092ZM29.2348 42.6782L29.268 42.7104C31.0922 44.5386 32.0043 46.9347 32.0043 49.3308C32.0043 51.7269 31.0922 54.123 29.268 55.9512L29.2348 55.9834C25.5863 59.6396 19.6682 59.6396 16.0197 55.9834L15.9865 55.9512C14.1623 54.123 13.2502 51.7269 13.2502 49.3308C13.2502 46.9347 14.1623 44.5386 15.9865 42.7104L16.0197 42.6782C19.6682 39.0215 25.5863 39.0215 29.2348 42.6782ZM55.7761 42.689L55.8094 42.7212C57.6336 44.5493 58.5457 46.9454 58.5457 49.3416C58.5457 51.7377 57.6336 54.1338 55.8094 55.9619L55.7761 55.9941C52.1277 59.6504 46.2096 59.6504 42.5611 55.9941L42.5279 55.9619C40.7037 54.1338 39.7916 51.7377 39.7916 49.3416C39.7916 46.9454 40.7037 44.5493 42.5279 42.7212L42.5611 42.689C46.2096 39.0322 52.1277 39.0322 55.7761 42.689ZM29.2836 69.2617C27.4623 67.4373 26.5516 65.0394 26.5516 62.6415C26.5516 60.2437 27.4623 57.8457 29.2836 56.021L35.8911 49.4009L42.4986 56.021C44.3199 57.8457 45.2306 60.2437 45.2306 62.6415C45.2306 65.0394 44.3199 67.4373 42.4986 69.2617C38.856 72.9111 32.9262 72.9111 29.2836 69.2617Z' fill='rgb(160,164,105)' fill-rule='evenodd' /%3e%3c/svg%3e ");
                    display: block;
                    position: absolute;
                    right: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    line-height: 0;
                    z-index: -1;
                }
            }

        }

        .button-block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 89px;

            .btn {
                height: 60px;
                width: calc(50% - 6px);
            }

        }

        .partner-link {
            color: $green;
            margin-top: 89px;
            display: inline-block;
            text-decoration: underline;
            text-underline-offset: 8px;
            text-decoration-color: $green;

            .arrow-right {
                fill: $green;
                margin-left: 14px;
                height: 12px;
                width: 13px;
                transition: all .3s;
            }

            &:hover {
                color: $fc;
                text-decoration-color: transparent;

                .arrow-right {
                    fill: $fc;
                }
            }
        }
    }

    .header-right {
        background-position: center center;
        background-size: cover;
        border-radius: 24px;
        padding: 97px 24px 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .header-right-top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .header-address {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .addr-marker {
                    background: rgba(160, 148, 134, .2);
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    box-shadow: inset 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    height: 48px;
                    width: 48px;

                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        padding: 1px;
                        border-radius: inherit;
                        background: linear-gradient(-45deg, #fff, transparent, #fff);
                        mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
                        -webkit-mask:
                            linear-gradient(#000 0 0) content-box,
                            linear-gradient(#000 0 0);
                        -webkit-mask-composite: xor;
                        mask-composite: exclude;
                        z-index: -1;
                    }

                    .marker {
                        fill: #fff;
                        height: 24px;
                        min-width: 24px;
                    }
                }

                .addr-arrow {
                    background-color: #fff;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 12px 0 -10px;
                    position: relative;
                    height: 48px;
                    min-width: 48px;
                    z-index: 1;

                    .arrow-right {
                        fill: $fc;
                        height: 13px;
                        width: 21px;
                    }
                }

                .addr-text {
                    color: #fff;
                }
            }

            .header-social {
                border-radius: 24px;
                box-shadow: inset 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(20px);
                -webkit-backdrop-filter: blur(20px);
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 7px 18px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    padding: 1px;
                    border-radius: inherit;
                    background: linear-gradient(-45deg, #fff, transparent, #fff);
                    mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
                    -webkit-mask:
                        linear-gradient(#000 0 0) content-box,
                        linear-gradient(#000 0 0);
                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                    z-index: -1;
                }

                a {
                    background-color: #fff;
                    border-radius: 50%;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    margin: 0 6px;
                    height: 34px;
                    width: 34px;

                    svg {
                        fill: $fc;

                        &.instagram {
                            height: 20px;
                            width: 20px;
                        }

                        &.facebook {
                            height: 22px;
                            width: 12.7px;
                        }
                    }
                }
            }
        }
    }

    @include mq(lg) {
        .header-left {
            padding: 26px 24px 30px;
            .header-left-title, .button-block, .partner-link {
                margin-top: 30px;
            }
        }

        .header-right {
            padding: 24px;

            .header-right-top {
                margin-bottom: 30px;
            }
        }
    }
    
    @include mq(md) {
        .header-left {

            .button-block {
                flex-wrap: wrap;

                .btn {
                    margin-bottom: 24px;
                    width: 100%;
                }
            }

            .partner-link {
                margin-top: 6px;
            }
        }

        .header-right {

            .header-right-top {
                flex-direction: column;

                .header-social {
                    margin-top: 24px;
                    width: 100%;
                }
            }
        }
    }

    @include mq(480) {
        .header-left .header-left-title h2::after {
            display: none;
        }
    }
}

#header-slider {
    --swiper-theme-color: #fff;
    color: #fff;
    line-height: 28px;

    padding-right: 20px;

    .slider-item {
        border-radius: 24px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        position: relative;
        display: flex;
        padding: 24px;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            padding: 1px;
            border-radius: inherit;
            background: linear-gradient(-30deg, #fff, transparent, #fff);
            mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
            -webkit-mask:
                linear-gradient(#000 0 0) content-box,
                linear-gradient(#000 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            z-index: -1;
        }

        .sl-image {
            flex: 1 0 28.5%;
            margin-right: 24px;

            img {
                border-radius: 24px;
            }
        }

        h5 {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 14px;
            line-height: 1.08;
        }

        p {
            line-height: 26px;
            margin-bottom: 0;
        }

        @media (max-width: 430px) {
            display: block;
            text-align: center;

            .sl-image {
                margin: 0 auto 24px;
                max-width: 70%;
            }
        }

        .more-link {
            color: #fff;
            font-size: 16px;
            text-decoration: underline;
            text-underline-offset: 6px;

            &:hover {
                text-decoration-color: transparent;
            }
        }

        .more-icon {
            position: absolute;
            right: 24px;
            top: 25px;

            &:hover {
                background-color: #fff;

                .arrow-right {
                    fill: $fc;
                }
            }
        }
    }

    .slide-pagination {
        --swiper-pagination-bullet-inactive-color: #ffffff;
        --swiper-pagination-bullet-inactive-opacity: .25;
        --swiper-pagination-top: 50%;
        --swiper-pagination-bottom: 50%;
        left: calc(100% - 8px);
        right: 0;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 8px;

        .swiper-pagination-bullet {
            display: block;
            margin: var(--swiper-pagination-bullet-horizontal-gap, 4px) 0;
        }
    }
}