// HEADER
.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 28px;

    @include mq(lg) {
        top: 21px;
    }
    
    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .logo {
            margin-right: 15px;
        }

        .btn-menu {
            padding: 0;
            height: auto;
            width: auto;
        }
    }
}

#main-menu {
    flex-basis: 955px;

    >ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;

        li {
            a {
                color: $sal;
                position: relative;

                &::after {
                    border: 1px dashed transparent;
                    content: "";
                    display: block;
                    position: absolute;
                    left: 50%;
                    right: 0;
                    bottom: -8px;
                    width: 0;
                    transform: translateX(-50%);
                    transition: all .5s;
                }

                &:hover {
                    &::after {
                        border-color: $sal;
                    width: 100%;
                    transition: all .5s;
                }   
                }
            }
        }
    }

    @include mq(xxl) {
        flex-basis: 830px;
    }
    
    @include mq(xl) {
        flex-basis: 810px;
    }
}

.offcanvas {
    background-color: #5a3897;
    max-width: 320px;
}

#mobmenu {

    .offcanvas-header {
        .btn-close {
            // --bs-btn-close-color: #fff;
            --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23cde949'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
            opacity: 1;
        }
    }

    .offcanvas-body {
        >ul {
            margin-bottom: 0;

            >li {
                margin-bottom: 10px;
                
                >a {
                    font-size: 18px;
                    font-weight: 600;
                    color: $sal;
                }

                ul {
                    margin-left: 20px;

                    li {
                        line-height: 1.2;
                        margin-bottom: 10px;

                        a {
                            font-size: 16px;
                            
                        }
                    }
                }
            }
        }

    }
}