#home-slider {
    line-height: 0;

    .slide-item {
        background-position: center;
        background-size: cover;
        position: relative;
        min-height: 752px;

        &::before {
            content: "";
            background: #0477bf;
            display: block;
            opacity: 0.5;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
        }

        .caption {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            max-width: 1136px;
            padding-left: 12px;
            padding-right: 12px;
            width: 100%;

            h2 {
                font-weight: 800;
                @include font-size(76px);
                color: #fff;
                line-height: 142%;
                text-align: center;
                margin-bottom: 111px;
            }

            .btn-orange {
                height: 60px;
                max-width: 259px;
                margin: 0 auto;
            }
        }

        @include mq(md) {
            min-height: 600px;

            .caption {
                h2 {
                    margin-bottom: 50px;
                }
            }
        }
    }
}