.home-cases {
    background-color: #fff;
    padding: 35px 0 97px;
    position: relative;
    z-index: 5;

    .hs-title {
        margin-bottom: 46px;

        @include mq(sm) {
            margin-bottom: 24px;
        }
    }

    #cases-slider {

        .swiper-slide {
            max-width: 636px;

            &:first-child {
                margin-left: calc((50% - 1296px / 2));
            }
        }



        @include mq(xxl) {
            .swiper-slide {

                &:first-child {
                    margin-left: calc((50% - 1116px / 2));
                }
            }
        }

        @include mq(xl) {
            .swiper-slide {

                &:first-child {
                    margin-left: calc((50% - 936px / 2));
                }
            }
        }

        @include mq(lg) {
            .swiper-slide {
                max-width: 696px;

                &:first-child {
                    margin-left: calc((50% - 696px / 2));
                }
            }
        }

        @include mq(md) {
            .swiper-slide {
                max-width: 516px;

                &:first-child {
                    margin-left: calc((50% - 516px / 2));
                }
            }
        }

        @include mq(sm) {
            .swiper-slide {
                max-width: 100%;

                &:first-child {
                    margin-left: auto;
                }
            }
        }
    }
}

.case-item {
    background: #efefef;
    border-radius: 24px;
    padding: 24px;

    img {
        border-radius: 24px;
        margin-bottom: 12px;
    }

    .cs-title {
        border-radius: 24px;
        background-color: #fff;
        padding: 16px 24px;
        margin-bottom: 12px;

        h5 {
            font-size: 24px;
            font-weight: 600;
            color: $fc;
            line-height: 32px;
            margin-bottom: 0;
        }
    }

    .cs-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        >div {
            border-radius: 24px;
            background: rgba(247, 247, 247, 0.8);
            font-size: 16px;
            font-weight: 400;
            color: $green;
            display: flex;
            align-items: center;
            padding: 5px 24px;
            height: 48px;

            span,
            a {
                font-weight: 700;
                color: $green;
            }

            &.cs-date {
                padding: 5px 18px;
            }

        }

        @include mq(sm) {

            flex-wrap: wrap;
            justify-content: center;

            >div {
                margin-top: 12px;
            }

        }
    }
}

.page-cases {
    .more-cases {
        text-align: center;
        margin-top: 40px;

        a {
            font-size: 16px;
            font-weight: 400;
            color: $green;
            text-decoration: underline;
            text-underline-offset: 6px;

            &:hover {
                text-decoration-color: transparent;
            }
        }
    }
}