#home-slider {
    .slide-item {
        background-size: cover;
        background-position: center center;
        height: 910px;
        position: relative;

        .slide-caption {
            font-size: 26px;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            margin: 0 80px;
            position: absolute;
            bottom: 228px;
            left: 0;
            right: 0;
            z-index: 1;

            h3 {
                font-size: 89px;
                font-weight: 700;
                line-height: 1;
                margin-bottom: 20px;
            }

            .btn-yellow {
                margin-top: 40px;
            }
        }
    }

    .chevron-left, .chevron-right {
        fill: #fff;
        height: 17px;
        width: 10px;
    }

    .slick-prev,
    .slick-next {
        border: 2px solid #fff;
        margin-top: 36px;
        height: 52px;
        width: 52px;

        &:hover {
            background: $yel;
        }
    }

    .slick-prev {
        left: 161px;
    }
    
    .slick-next {
        right: 161px;
    }

    @media (max-width: 1600px) {

        .slick-prev {
            left: 50px;
        }
        .slick-next {
            right: 50px;
        }
    }
    
    @media (max-width: 1380px) {

        .slick-prev {
            left: 15px;
        }
        .slick-next {
            right: 15px;
        }
    }

    @include mq(md) {
        .slide-item {
            .slide-caption {
                @include font-size(26px);

                h3 {
                    @include font-size(100px);
                }
            }
        }
    }

    @include mq(sm) {
        .slide-item {
            height: 720px;
            
            .slide-caption {
                bottom: 50%;
                margin: 0;
                text-align: center;
                transform: translateY(50%);
                
                .btn-yellow {
                    margin: 40px auto 0;
                }
            }
        }

        .slick-dots {
            bottom: 34px;
            text-align: right;
            padding: 0 5px 0 0;
        }
    }
}

.home-slider-icons {
    margin-top: -85px;
    margin-bottom: 130px;
    position: relative;

    .mouse-icon {
        position: absolute;
        top: -22px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 51px;
        will-change: contents;

        .mouse,
        .arrow-down {
            fill: #fff;
            height: 24px;
            width: 24px;
        }

        .arrow-down {
            margin-top: 3px;
        }

        &:hover {
            animation: move .7s infinite linear;
        }
    }

}

.socials {
    .icon {
        fill: #fff;
        height: 22px;
        transition: all .5s;

        &.facebook {
            width: 11px;
        }

        &.instagram {
            width: 22px;
        }

        &.youtube {
            width: 33px;
        }
    }

    a {
        margin-right: 34px;

        &:hover {
            .icon {
                fill: $yel;
            }
        }

        @include mq(sm) {
            margin-right: 15px;
        }
    }
}

@keyframes move {
    from {
        height: 51px;
    }

    to {
        height: 55px;
    }
}