.home-seo-text {
    background: linear-gradient(to top, $bg 52px, $lbl 52px);
    padding-top: 104px;
    h3 {
        line-height: 100%;
        margin-bottom: 45px;
    }

    img {
        max-width: 458px;
    }
}