.interested-banner {
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    padding: 56px 0;

    h5 {
        font-weight: 900;
        color: #fff;
        margin-bottom: 38px;
    }

    .btn-orange {
        margin: 0 auto;
        height: 60px;
        max-width: 259px;
        width: 100%;
    }
}