#lagison {
    padding: 64px 0 101px;

    h3 {
        margin-bottom: 38px;
    }

    .property {
        border: 2px solid #8872c8;
        border-radius: 24px;
        margin-top: 38px;
        height: calc(100% - 38px);

        .icon {
            max-width: 75px;
            margin: -37.5px auto 0;
        }

        .prop-text {
            color: #262b76;
            font-size: 24px;
            font-weight: 400;
            line-height: 28px;
            text-align: center;
            margin: 10px 5px 19px;
        }
    }

    .instruction {
        background-image: url("image/instruction-bg.jpg");
        background-repeat: no-repeat;
        background-position: 100% center;
        background-size: cover;
        border-radius: 24px;
        margin-top: 59px;
        padding: 0.1px 0;
        position: relative;
        z-index: 2;

        .instruction-text {
            margin: 49px 33px 44px;
            max-width: 425px;

            h5 {
                color: $sal;
                font-size: 38px;
                font-weight: 600;
                line-height: 44px;
                margin-bottom: 32px;
            }

            ul {
                margin-bottom: 42px;

                li {
                    color: #ffffff;
                    line-height: 23px;
                    margin-bottom: 27px;
                    display: flex;
                    align-items: flex-start;

                    &::before {
                        border: 2px solid $sal;
                        border-radius: 50%;
                        content: "";
                        margin-right: 12px;
                        margin-top: 2px;
                        height: 20px;
                        width: 20px;
                        min-width: 20px;
                    }
                }
            }

            .block-stati {
                border: 2px solid #eadff2;
                border-radius: 20px;
                backdrop-filter: blur(12.5px);
                background: #eadff2;
                color: #262b76;
                line-height: 23px;
                padding: 32px 33px;

                .links {
                    a {
                        color: #262b76;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 22px;
                        text-decoration-line: underline;
                        margin-right: 30px;

                        &:last-child {
                            margin-right: 0;
                        }

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            .short-text {
                .lagison {
                    position: absolute;
                    right: 42px;
                    top: -34px;
                    z-index: -1;
                }
            }
        }

    }

    @include mq(xl) {
        .property {
            min-height: 155px;
        }

        .instruction {
            .instruction-text {
                .short-text {
                    .lagison {
                        top: 35px;
                        width: 59%;
                    }
                }
            }
        }
    }

    @include mq(lg) {
        .property {
            min-height: 183px;
        }

        .instruction {
            background-image: url("image/instruction-mobbg.jpg");
            background-position: center;

            .instruction-text {
                max-width: unset;

                .short-text {
                    .lagison {
                        position: static;
                        margin-bottom: 30px;
                        width: auto;
                    }
                }
            }
        }
    }

    @include mq(md) {
        padding: 36px 0 55px;

        h3 {
            font-size: 28px;
            line-height: 34px;
            margin-bottom: 20px;
        }

        .property {
            margin-top: 22px;
            height: calc(100% - 22px);
            min-height: 155px;

            .icon {
                max-width: 44px;
                margin: -22px auto 0;
            }

            .prop-text {
                font-size: 20px;
                line-height: 25px;
            }
        }
    }

    @include mq(sm) {

        .property {
            min-height: 119px;

            .prop-text {
                font-size: 16px;
                line-height: 16px;
            }
        }

        .instruction {
            .instruction-text {
                margin: 21px 24px 31px;

                .short-text {

                    h5 {
                        font-size: 22px;
                        margin-bottom: 12px;
                    }

                    ul {
                        margin-bottom: 14px;

                        li {
                            font-size: 16px;
                            line-height: 18px;
                            margin-bottom: 12px;
                        }
                    }

                    .lagison {
                        margin-bottom: 17px;
                    }
                }

                .block-stati {
                    font-size: 16px;
                    line-height: 18px;
                    padding: 12px 23px 21px;

                    .links {
                        a {
                            font-size: 16px;
                            line-height: 19px;
                        }
                    }
                }
            }
        }
    }

    @include mq(380) {
        .properties {
            .col {
                width: 50%;
            }
        }

        .property {

            min-height: 103px;
        }
    }
}