.main-banner {
    background-color: #4b2787;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    //overflow: hidden;
    padding: 0.1px 0;
    height: 770px;

    @include mq(xl) {
        background-position: 62% 0;
    }

    .title-banner {
        font-size: 38px;
        color: #fff;
        margin-top: 243px;
        width: 50%;

        .subtitle {
            margin-top: 40px;
        }
    }

    .footer-banner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 53%;
        margin-top: 94px;

        .box-btnby {
            border: 2px dashed rgba(205, 233, 73, 1);
            border-radius: 200px;
            font-size: 18px;
            color: #fff;
            padding: 14px;
            display: flex;
            align-items: center;
            width: fit-content;

            .btn-green {
                font-size: 18px;
                margin-right: 13px;
                height: 60px;
                width: 131px;
            }
        }

        @include mq(xl) {
            max-width: 62%;
        }

        @include mq(lg) {
            justify-content: space-evenly;
            max-width: 100%;
            margin-top: calc(100% - 330px);
        }

        @include mq(md) {
            margin-top: calc(100% - 148px);

            .box-btnby {
                border: 0;
                width: 100%;

                .btn-green {
                    width: 100%;
                }

                .text {
                    display: none;
                }
            }
        }
    }

    @include mq(lg) {
        background-position: calc(50% - 361px) 0;

        .title-banner {
            font-size: 24px;
            margin: 88px auto 0;
            text-align: center;
            max-width: 292px;
            width: 100%;

            .subtitle {
                margin-top: 20px;
            }
        }
    }

    @include mq(sm) {
        background-image: url("image/header-mobbg.jpg") !important;
        background-position: center;
        background-size: cover;

        .footer-banner {
            flex-direction: column-reverse;
            margin-top: 280px;

            .box-btnby {
                margin-top: 30px;

                .btn-green {
                    height: 48px;
                }
            }
        }
    }

    .active-substance {
        position: relative;
        min-width: 202px;

        @include mq(sm) {
            min-width: auto;
        }

        .text-buble {
            color: #fff;
            text-align: center;
            display: flex;
            align-items: center;
            position: absolute;
            inset: 0;
        }

        li:first-child {
            color: #dff18b;
            font-size: 10px;
            text-transform: uppercase;
            margin-bottom: 2px;
        }

        li:nth-child(2) {
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 2px;
            transition: all .3s;

            &:hover {
                color: $sal;
            }
        }

        li:nth-child(3) {
            color: $sal;
            font-weight: 300;
            letter-spacing: 2px;
            line-height: 22px;
        }

        @include mq(sm) {
            max-width: 160px;

            li:first-child {
                padding: 0 6px;
                line-height: 1.2;
            }

            li:nth-child(2) {
                font-size: 16px;
                line-height: 20px;
            }

            li:nth-child(3) {
                font-size: 16px;
            }
        }

        .substanse-caption {
            position: absolute;
            right: -7px;
            top: 50%;
            transform: translateY(-50%);

            #capt-plus {
                background-color: transparent;
                border: 0;
                padding: 0;
                cursor: pointer;
            }

            .caption {
                background: #dff18b;
                border-radius: 17px;
                color: #262b76;
                font-size: 16px;
                line-height: 20px;
                padding: 16px 22px;
                position: absolute;
                left: calc(100% + 39px);
                top: 50%;
                transform: translateY(-50%);
                width: 567px;
                opacity: 0;
                visibility: hidden;
                transition: all .5s;

                p {
                    margin-bottom: 0;
                }

                &::before {
                    content: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 49 38' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='49.000000' height='38.000000' fill='none' customFrame='%23000000'%3e%3cpath id='Polygon 1' d='M32.3009 29.7068C33.782 33.0146 31.3617 36.75 27.7375 36.75L10.2625 36.75C6.6383 36.75 4.21803 33.0145 5.69907 29.7067L14.4365 10.1922C16.2017 6.24984 21.7983 6.24984 23.5635 10.1922L32.3009 29.7068Z' fill='rgb(223,241,139)' fill-rule='evenodd' transform='matrix(-4.29308e-08,-1,1,-4.45061e-08,0,38)' /%3e%3c/svg%3e ");
                    position: absolute;
                    left: -31px;
                    top: 51%;
                    transform: translateY(-50%);
                    z-index: -1;
                }

                &.open {
                    opacity: 1;
                    visibility: visible;
                }

                @include mq(xxl) {
                    width: 476px;
                }

                @include mq(xl) {
                    top: -140%;
                    width: 319px;

                    &::before {
                        top: 62%;
                    }
                }

                @include mq(lg) {
                    top: unset;
                    left: unset;
                    bottom: 59px;
                    right: -44px;
                    width: 576px;
                    transform: none;

                    &::before {
                        left: unset;
                        top: unset;
                        bottom: -26px;
                        transform: rotate(-90deg);
                        right: 30px;
                    }
                }

                @include mq(md) {
                    right: 0;
                    width: 516px;

                    &::before {
                        transform: rotate(-110deg);
                        right: -4px;
                    }
                }
                
                @include mq(sm) {
                    right: calc(100% - 50vw);
                    width: calc(100vw - 24px);

                    &::before {
                        transform: rotate(-90deg) translateY(64%);
                        right: 50%;
                    }
                }
            }

            @include mq(sm) {
                right: unset;
                top: 89%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}