#main-menu {
    flex: 1 1 34%;

    >ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: -1px;


        >li {
            position: relative;

            a {
                font-size: 14px;
                font-weight: 300;
                display: inline-block;
                text-decoration: none;
                transition: all .4s;

                &:after {
                    background-color: $yel;
                    display: block;
                    content: "";
                    height: 2px;
                    width: 0%;
                    transition: width 0.4s ease-in-out;
                }

                &:hover {
                    text-shadow: 0 0 .65px #000, 0 0 .65px #000, 0 0 .65px #000;

                    &::after {
                        width: 100%;
                    }
                }
            }

            &.menu-item-has-children {

                >a {
                    &::before {
                        content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 12 7' fill='none'%3e%3cpath d='M1 1L6 6L11 1' stroke='black' stroke-width='1.35' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
                        float: right;
                        margin-left: 12px;
                    }
                }

                ul {
                    background-color: #fff;
                    box-shadow: 5px 10px 16px #ccc;
                    padding: 0;
                    list-style: none;
                    padding: 12px 15px;
                    // max-width: ;
                    width: max-content;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    z-index: 9;
                }

            }
        }
    }

}