#noticeCart {

    .modal-content {
        border-radius: 12px;
        border: 1px solid #D9D9D9;
        background: #FFF;
        box-shadow: 0px 7px 7px 0px rgba(255, 213, 0, 0.25);

        .modal-header {
            border: none;
            display: block;
            padding: 0;
            position: relative;

            .btn-close {
                position: absolute;
                top: 21px;
                right: 24px;
                z-index: 1;
            }
        }

        .modal-body {
            padding: 21px 24px 30px;

            .bag-icon {
                background-color: #FFD500;
                border-radius: 50%;
                margin: 0 auto;
                height: 36px;
                width: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 12px;

                .basket {
                    fill: $fc;
                    height: 22px;
                    width: 18px;
                }
            }

            h5 {
                font-size: 28px;
                font-weight: 700;
                line-height: 150%;
                margin-bottom: 7px;
            }

            a:not(.btn-yellow) {
                font-weight: 700;

                &:hover {
                    text-decoration: underline;
                }
            }

            p {
                margin-bottom: 0;
                line-height: 150%;
            }

            .btn-yellow {
                margin-top: 19px;
                width: 100%;
            }
        }
    }

    .modal-dialog {
        margin: 46px 12px 0;
    }

    @media (min-width: 576px) {
        .modal-dialog {
            margin-right: auto;
            margin-left: 50%;
            margin-top: 105px;
            max-width: 380px;
        }
    }
    
    @include mq(sm, min) {
        .modal-dialog {
            margin-left: calc(50% - 134px);
            margin-top: 46px;
        }
    }
    
    @include mq(md, min) {
        .modal-dialog {
            margin-left: calc(50% - 44px);
            margin-top: 46px;
        }
    }
    
    @include mq(lg, min) {
        .modal-dialog {
            margin-left: calc(50% + 76px);
            margin-top: 105px;
        }
    }
    
    @include mq(xl, min) {
        .modal-dialog {
            margin-left: calc(50% + 166px);
            margin-top: 105px;
        }
    }

    @include mq(xxl, min) {
        .modal-dialog {
            margin-left: calc(50% + 256px);
            margin-top: 105px;
        }
    }
    
}

#orderSuccess {
    .modal-dialog {
        max-width: 380px;
    }

    .modal-content {
        border-radius: 12px;
        border: 1px solid #D9D9D9;
        background: #FFF;
        box-shadow: 0px 7px 7px 0px rgba(255, 213, 0, 0.25);

        .modal-header {
            border: none;
            display: block;
            padding: 0;
            position: relative;

            .btn-close {
                position: absolute;
                top: 21px;
                right: 24px;
                z-index: 1;
            }
        }

        .modal-body {
            padding: 33px 24px 30px;

            img {
                margin-bottom: 12px;
            }

            h5 {
                font-size: 20px;
                font-weight: 700;
                line-height: 130%;
                margin-bottom: 30px;
            }

            p {
                margin-bottom: 0;
                line-height: 150%;
            }
        }
    }
}

#callback {
    .modal-body {
        padding: 21px 24px 30px;
    }
    
    .phone {
        background-color: #FFD500;
        border-radius: 50%;
        margin: 0 auto;
        height: 36px;
        width: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;

        .phone-icon {
            fill: $fc;
            height: 22px;
            width: 18px;
        }
    }

    h5 {
        font-size: 28px;
        font-weight: 700;
        line-height: 150%;
        margin-bottom: 24px;
    }

    .form-group {
        text-align: center;
    }

    .form-control {
        display: inline-block;
        max-width: 280px;
        margin-bottom: 24px;
    }
}