.last-news {

    h3 {
        text-align: center;
        margin-bottom: 42px;
    }

    .news-item {
        border: 3px solid $gr;
        border-radius: 0px 60px;
        margin-left: 18px;
        margin-bottom: 30px;
        padding: 25px 19px 44px 0;

        .image {
            margin-bottom: 45px;
            margin-left: -18px;

            img {
                filter: grayscale(100%) drop-shadow(10px 10px 40px rgba(0, 0, 0, 0.1));
                border-radius: 0px 40px;
                transition: all .5s;

                &:hover {
                    filter: grayscale(0) drop-shadow(10px 10px 40px rgba(0, 0, 0, 0.1));
                }
            }
        }

        .text {
            margin-left: 29px;
        }

        @include mq(lg) {
            max-width: 342px;
            margin: 0 auto 30px;
        }
    }
}