.category-news {
    margin-bottom: 100px;

    .news-item {
        position: relative;

        &:before {
            background: linear-gradient(0deg, rgba(118, 42, 169, 0.85) 12.29%, rgba(175, 57, 254, 0.76) 42.92%, rgba(175, 57, 254, 0.25) 100%);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        &:hover {
            a {
                text-decoration: underline;
            }
        }

        .news-img {
            height: 100%;

            img {
                object-fit: cover;
                height: 100%;
            }
        }

        .news-info {
            color: #fff;
            position: absolute;
            bottom: 32px;
            left: 0;
            margin: 0 24px;

            .date {
                font-size: 12px;
                font-weight: 700;
                margin-bottom: 5px;
            }

            a {
                color: #fff;
                /* font-size: 28px; */
                @include font-size(1.75rem);
                font-weight: 700;
                line-height: 130%;
            }
        }
    }

    .col-lg-4 {

        .news-item {

            .news-img {
                aspect-ratio: 1 / 0.991;
            }

        }

    }
    
    .col-lg-6 {

        .news-item {

            .news-img {
                aspect-ratio: 1 / .648;

                @include mq(lg) {
                    aspect-ratio: 1 / 0.991;
                }
            }

        }

    }
}