#content {
    .general-office {
        position: relative;
        padding: 53px 0 49px;

        &::before {
            border: 3px solid #ECECEC;
            border-radius: 0px 60px;
            content: "";
            position: absolute;
            right: 15px;
            top: 0;
            bottom: 0;
            width: calc(100% - 115px);
        }

        img {
            border-radius: 0px 60px;
            filter: grayscale(0);
            margin-bottom: 30px;
        }

        .general-office-info {
            padding-left: 38px;
            padding-right: 32px;

            h3 {
                text-align: left;
                margin: 55px 0 49px;
            }
        }

        .media {
            margin-bottom: 23px;
            .location, .time {
                fill: $red;
                margin-right: 16px;
                margin-top: 3px;
                height: 24px;
                width: 24px;
            }
        }
    }

    .field-offices {

        .col {
            margin-bottom: 26px;
        }

        h3 {
            font-size: 36px;
            margin-top: 67px;
            margin-bottom: 45px;
        }

        .office-item {
            border: 3px solid #ECECEC;
            border-radius: 0px 30px;
            font-size: 16px;
            font-weight: 400;
            padding: 37px 74px;
            line-height: 19px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            transition: all .5s;

            h5 {
                font-size: 18px;
                font-weight: 700;
                line-height: 25px;
                margin-bottom: 19px;
            }
            p {
                margin-bottom: 0;
                
            }

            &:hover {
                background-color: $red;
                border-color: $red;
                color: #fff;
            }
        }

    }

    @include mq(lg) {
        .general-office {
            padding-right: 30px;

            .general-office-info {
                padding-left: 140px;
                padding-right: 0;

                h3 {
                    text-align: left;
                    margin: 10px 0 49px;
                }
            }
        }
    }
    
    @include mq(sm) {
        .general-office {

            &::before {
                width: calc(100% - 60px);
            }

            .general-office-info {
                padding-left: 70px;
            }
        }
    }
    
    @include mq(380) {
        .general-office {
            padding-right: 20px;
            padding-top: 20px;

            &::before {
                width: calc(100% - 50px);
            }

            .general-office-info {
                padding-left: 40px;

                h3 {
                    text-align: center;
                    margin: 10px 0 32px;
                }
            }
        }
    }
}
