.other-projects {
    margin-top: 70px;
    margin-bottom: 25px;

    .projects {

        .project-item {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            min-height: 312px;
            filter: grayscale(100%);
            transition: all .5s;

            .project-logo {
                position: absolute;
                left: 0;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                text-align: center;
                padding: 0 12px;
                transition: all .5s;
            }

            .caption {
                background-color: rgba(38, 38, 39, .81);
                font-size: 16px;
                line-height: 130%;
                color: #fff;
                position: absolute;
                padding: 22px 27px;
                inset: 25px;
                opacity: 0;
                visibility: hidden;
                transition: all .5s;

                &.rab {
                    display: flex;
                    padding: 22px 27px 22px 19px;

                    .cap-logo {
                        display: flex;
                        justify-content: center;
                        flex: 1 1 150px;
                        margin-bottom: 0;

                        img {
                            object-fit: contain;
                        }
                    }

                    .info {
                        flex: 1 1 309px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-left: 27px;
                    }
                }

                &.tsin {
                    .cap-logo {
                        text-align: center;
                        margin-bottom: 13px;

                        img {
                            max-height: 49px;
                        }
                    }

                    .info {
                        min-height: calc(100% - 62px);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .btn-outline {
                            margin: 0 auto;
                        }
                    }
                }

                &.graf {
                    .cap-logo {
                        text-align: center;
                        margin-bottom: 13px;

                        img {
                            max-height: 56px;
                        }
                    }

                    .info {
                        min-height: calc(100% - 69px);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .btn-outline {
                            margin: 0 auto;
                        }
                    }
                }

                &.dom {
                    display: flex;
                    padding: 22px 27px 22px 19px;

                    .cap-logo {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex: 1 1 150px;
                        margin-bottom: 0;

                        img {
                            max-width: 150px;
                            object-fit: contain;
                        }
                    }

                    .info {
                        flex: 1 1 281px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-left: 27px;
                    }
                }
            }

            &:hover {
                filter: grayscale(0);

                .project-logo {
                    opacity: 0;
                }

                .caption {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        @include mq(xl) {
            .project-item {
                min-height: 390px;
            }
        }
        
        @include mq(lg) {
            .project-item {
                min-height: 330px;
            }
        }

        @include mq(sm) {
            .project-item {
                min-height: 390px;

                .caption {
                    &.dom, &.rab {
                        display: block;
                        padding: 22px 27px;

                        .cap-logo {
                            margin-bottom: 13px;
                        }

                        .info {
                            margin-left: 0;
                            min-height: calc(100% - 121px);

                            .btn-outline {
                                margin: 24px auto 0;
                            }
                        }
                    }

                    &.rab {
                        .cap-logo  {
                            img {
                                max-height: 110px;
                            }
                        }
                    }
                }
                
            }
        }

        @include mq(480) {
            .project-item {
                min-height: 480px;                
            }
        }
        
        @include mq(360) {
            .project-item {
                .caption {
                    inset: 12px;
                }                
            }
        }
    }
}