.page-doctors {

    .page-top-banner {
        margin-bottom: 96px;
    }

    ~.section-reviews {
        margin-top: 96px;
    }
}

.page-top-banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 24px;
    padding: 35px 31px 25px;
    margin-bottom: 48px;

    .ptb-info {
        color: $green;
        max-width: 588px;
        line-height: 26px;

        h1 {
            margin-bottom: 20px;
        }
    }
}