.page-menu {
    .header-slider {
        .btn-prim {
            max-width: 314px;
            height: 70px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, calc(-50% + 174px));
        }

        .dishes {
            max-width: 720px;
            position: absolute;
            bottom: 65px;
            left: 50%;
            transform: translateX(-50%);

            a {
                font-size: 24px;
                font-weight: 300;
                color: #fff;
                display: inline-block;
                line-height: 33px;
                margin: 0 10px 6px;

                &:after {
                    content: "";
                    background-color: $main;
                    display: block;
                    opacity: 0;
                    height: 2px;
                    transform: scaleX(0);
                    transition: all .5s;
                }

                &.active {
                    color: $main;
                    &:after {
                        opacity: 1;
                        transform: scaleX(1);
                    }
                }

                &:hover {
                    &:after {
                        opacity: 1;
                        transform: scaleX(1);
                    }
                }
            }
        }
    }

    .page-content .h3 {
        margin-bottom: 71px;
    }

    .dishes-list {
        columns: 2;
        column-gap: 48px;
        column-rule: 1px solid $main;
        margin-bottom: 32px;
        width: 100%;

        li {
            margin-bottom: 17px;
            //min-height: 50px;
        }

        .dishes-row {
            font-weight: 400;
            display: flex;
            justify-content: space-between;

            .name {
                flex-basis: 380px;
                padding-right: 10px;
            }

            .weight {
                min-width: 55px;
                white-space: nowrap;
            }

            .price {
                font-weight: 700;
                white-space: nowrap;
                min-width: 55px;
            }
        }
    }

    .menu-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .line {
            background-color: $main;
            margin: 0 18px;
            height: 1px;
            flex-basis: 945px;
        }

        .prev-post, .next-post {
            white-space: nowrap;
        }

        .chevron-left-min, .chevron-right-min {
            fill: $fc;
            margin-top: -2px;
            margin-right: 7px;
            height: 18px;
            width: 18px;
            @include trans();
        }
        .chevron-right-min {
            margin-left: 7px;
            margin-right: 0;
        }
        
        a {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: $fc;

            &:hover {
                color: $main;

                .chevron-left-min, .chevron-right-min {
                    fill: $main;
                }
            }
        }
    }

    @include mq(lg) {
        .dishes-list {
            columns: unset;

            .dishes-row .name {
                flex-basis: 560px;
            }
        }
    }

    @include mq(480) {
        .dishes-list {
            .dishes-row {
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                .name {
                    padding: 0;
                    flex-basis: 100%;
                    width: 100%;
                }
            }
        }
    }

}