.pharmacovigilance {
	margin-bottom: 95px;

	h1 {
		@include font-size(48px); 
		margin-bottom: 38px;
	}

	.pharm-form-link {
		margin-top: 40px;

		a {
			font-weight: 800;
			font-size: 28px;
			line-height: 155%;
			text-decoration: underline;
			text-decoration-skip-ink: none;
			color: $bld;

			&:hover {
				color: $grn;
			}
		}
	}
}

.form-medical, .form-pacient {
    margin-bottom: 144px;

    h1 {
        @include font-size(48px);
        margin-bottom: 64px;
    }

    .btn-outline.back {
        margin-bottom: 64px;
        max-width: 151px;
    }

    h2 {
        font-weight: 700;
        font-size: 28px;
        line-height: 142%;
        color: $fc;
    }

    .wrap-form {
        max-width: 856px;

        h5 {
            font-weight: 300;
            font-size: 20px;
            color: #000;
            line-height: 142%;
            margin: 37px 0 16px;
        }

        .form-control {
            height: 48px;
            padding: 4px 32px;
        }

        textarea.form-control {
            height: 75px;

            @include mq(sm) {
                height: 150px;
            }
        }
    }
}