.last-products {
    margin-top: 100px;
}

.product-item {
    border: 2px solid $bll;
    border-radius: 24px;
    padding: 24px;
    position: relative;
    text-align-last: left;

    h5 {
        font-weight: 700;
        font-size: 28px;
        line-height: 1;
        color: #000;
        margin-bottom: 14px;
        transition: all .5s;
    }

    .prod-info {
        p {
            margin-bottom: 16px;
        }
    }

    a {
        text-decoration: underline 0.15em rgba(0, 68, 179, 0);
        transition: text-decoration-color 500ms;
        text-decoration-skip-ink: none;
        transition: all .5s;
    }

    &:hover {
        .stretched-link {
            text-decoration-color: rgba(0, 68, 179, 1); 
            color: $bld;
            
        }

        .readmore {
            &::after {
                transform: translateX(6px);	
            }  
        }
    }
}

.slide-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;

    h3 {
        margin-bottom: 0;
    }

    .slider-buttons {
        display: flex;
        align-items: center;

        .btn-link {
            background-color: #fff;
            border: 2px solid $bll;
            border-radius: 50%;
            margin: 0 7px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 48px;
            width: 48px;
            transition: all .3s;

            .chevron-left,
            .chevron-right {
                fill: $bl;
                height: 18px;
                width: 11px;
                transition: all .3s;
            }

            &:hover {
                background-color: $bld;
                .chevron-left,
                .chevron-right {
                    fill: #fff;
                }
            }
        }
    }
}

#slider-progress, #pslider-progress {
    flex-basis: 35.87962962962963%;
}

@include mq(xl) {
    .slide-control {
        flex-wrap: wrap;   
        
        h3 {
            width: 100%;
            margin-bottom: 24px;
        }
    }
}

@include mq(sm) {
    .slide-control {
        flex-direction: column;
        align-items: center;
        text-align: center;

        .slider-buttons {
            margin-bottom: 24px;
            order: 1;
        }

        .all-products {
            margin-bottom: 24px;
        }
    }
    
    #pslider-progress, #slider-progress {
        flex-basis: auto;
        margin-bottom: 24px;
        order: 2;
        width: 100%;
    }

    .product-item {
        max-width: 306px;
        margin: 0 auto;
    }
}