.prod-cat {
    margin-top: -156px;

    .cat-item {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 24px;
        padding: 24px;
        min-height: 273px;
        transition: all .5s;

        h5 {
            font-weight: 700;
            font-size: 38px;
            line-height: 115%;
            color: #fff;
            margin-bottom: 0;
        }

        a {
            color: #fff;
            text-decoration: underline 0.15em rgba(255, 255, 255, 0);
            transition: text-decoration-color 500ms;
            transition: all .5s;
        }

        .cat-link {
            position: absolute;
            right: 24px;
            top: 24px;
            transition: all .5s;
        }

        &:hover {
            transform: scale(1.02);

            a {
                text-decoration-color: rgba(255, 255, 255, 1); 
                text-decoration-skip-ink: none;
            }

            .cat-link {
                transform: scale(1.29);
            }
        }
    }

    .row {
        > div {
            &:nth-child(4n+1) {
                .cat-item {
                    .cat-link {
                        background: linear-gradient(13.53deg, rgba(96, 198, 184, 0.75) 20.39%, rgba(96, 198, 184, 0.06) 108.76%);
                        backdrop-filter: blur(2.5px);
                    }
                }
            }
            
            &:nth-child(4n+2) {
                .cat-item {
                    .cat-link {
                        background: linear-gradient(13.53deg, rgba(136, 168, 255, 0.75) 20.39%, rgba(136, 168, 255, 0.0225) 108.76%);
                        backdrop-filter: blur(2.5px);
                    }
                }
            }
            
            &:nth-child(4n+3) {
                .cat-item {
                    .cat-link {
                        background: linear-gradient(13.53deg, rgba(0, 180, 191, 0.75) 20.39%, rgba(0, 180, 191, 0) 108.76%);
                        backdrop-filter: blur(2.5px);
                    }
                }
            }
            
            &:nth-child(4n+4) {
                .cat-item {
                    .cat-link {
                        background: linear-gradient(13.53deg, rgba(105, 188, 119, 0.75) 20.39%, rgba(105, 188, 119, 0) 108.76%);
                        backdrop-filter: blur(2.5px);
                    }
                }
            }
        }
    }

    @include mq(420) {
        .cat-item {
            h5 {
                @include font-size(44px);
                text-align: center;
            }
        }
    }
    
}