#questions {
    padding: 59px 0;

    .qq-button {
        border-radius: 24px;
        background: #f9f4ff;
        color: #8872c8;
        font-size: 24px;
        font-weight: 400;
        line-height: 55px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 31px;

        .btn-qq {
            padding: 0;
            line-height: 0;

            .plus {
                display: none;
            }

            &.collapsed {
                .plus {
                    display: block;
                }

                .minus {
                    display: none;
                }
            }
        }

    }

    @include mq(sm) {
        .qq-button {
            font-size: 18px;
            line-height: 20px;
            padding: 14px 24px;

            .btn-qq {

                .plus,
                .minus {
                    width: 14px;
                }
            }
        }
    }
}

#question-list {
    --bs-border-color: #EADFF2;
    --bs-border-width: 2px;
    --bs-border-radius: 24px;
    --bs-accordion-btn-padding-y: 1.54rem;
    --bs-accordion-btn-padding-x: 31px;
    --bs-accordion-body-padding-x: 31px;
    --bs-accordion-active-bg: #fff;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-btn-icon: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24.000000' height='24.000000' fill='none' customFrame='%23000000'%3e%3cg id='Group 356'%3e%3ccircle id='Ellipse 12' cx='12' cy='12' r='12' fill='rgb(192.767,178.535,234.168)' /%3e%3cg id='Group 322'%3e%3cpath id='Vector' d='M3 10.5L21 10.5L21 13.5L3 13.5L3 10.5Z' fill='rgb(255,255,255)' fill-rule='nonzero' /%3e%3cpath id='Vector' d='M0 0L18 0L18 3L0 3L0 0Z' fill='rgb(255,255,255)' fill-rule='nonzero' transform='matrix(-4.37114e-08,1,-1,-4.37114e-08,13.5,3)' /%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24.000000' height='24.000000' fill='none' customFrame='%23000000'%3e%3cg id='Group 329'%3e%3ccircle id='Ellipse 12' cx='12' cy='12' r='12' fill='rgb(191,174,213)' /%3e%3cg id='Group 322'%3e%3cpath id='Vector' d='M3 10.5L21 10.5L21 13.5L3 13.5L3 10.5Z' fill='rgb(255,255,255)' fill-rule='nonzero' /%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
    --bs-accordion-btn-icon-width: 24px;
    margin-top: 16px;

    .accordion-button {
        font-family: $ff;
        font-size: 28px;
        font-weight: 400;
        color: $fc;
        line-height: 36px;

        p {
            margin-bottom: 0;
        }

        span {
            font-weight: 600;
            color: #8784bf;
        }

        &:not(.collapsed) {
            box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
        }


    }

    @include mq(sm) {
        --bs-accordion-btn-padding-x: 24px;
        --bs-accordion-body-padding-x: 24px;
        --bs-accordion-btn-icon-width: 14px;

        .accordion-button {
            font-size: 20px;
            line-height: 25px;
        }

        .accordion-body {
            font-size: 16px;
            line-height: 18px;
        }
    }
}