.reviews {
    background-color: #D6DFD9;
    padding: 100px 0 58px;
    overflow: hidden;

    @include mq(sm) {
        padding: 58px 0;
    }

    h3 {
        margin-bottom: 58px;
    }

    .reviews-slider-wrap {
        margin-left: calc((100% - 1296px) / 2);

        .slick-list {
            margin: 0 -12px; //для пробела
        }

        .slick-slide {
            padding: 0 12px; //для пробела
        }

        @include mq(xxl) {
            margin-left: calc((100% - 1116px) / 2);
        }

        @include mq(xl) {
            margin-left: calc((100% - 936px) / 2);

            .slick-prev {
                left: -50px;   
            }
            
            .slick-next {
                right: -50px;
            }
        }

        @include mq(lg) {
            margin-left: calc((100% - 696px) / 2);
        }

        @include mq(md) {
            margin-left: 0;

            #reviews-slider {
                margin-right: -34px;
                margin-left: 12px;
            }

            .slick-prev {
                left: -14px;
                z-index: 9;    
            }
            
            .slick-next {
                right: -14px;
                z-index: 9;
            }
        }

        @media (max-width: 678px) {
            #reviews-slider {
                margin-right: 12px;
                margin-left: 12px;
            }

            .slick-prev {
                top: 50%;
                left: 0px;   
            }
            
            .slick-next {
                top: 50%;
                right: 0px;
            }
        }
    }
    
    #reviews-slider {
        margin-right: -128px;
    }
    
    .review {
        background-color: #fff;
        border-radius: 20px;
        display: inline-flex !important;
        flex-direction: column;
        justify-content: space-between;
        min-height: 451px;
        line-height: 30px;
        padding: 25px 32px 32px;

        h5 {
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 18px;
        }

        .statut {
            font-size: 15px;
            font-weight: 400;
            color: $lgrn;
            line-height: 20px;
            margin-bottom: 32px;
        }

        .text-rv {
            overflow-y: auto;
            text-overflow: ellipsis;
            max-height: 270px;
        }

        .rev-image {
            border: 1px solid $grey;
            border-radius: 20px;
            overflow: hidden;
        }
    }
}
