.single-service {

    ~.home-cases {
        padding-bottom: 86px;
    }

    .service-top-banner {
        background-size: cover;
        background-position: center;
        color: #fff;
        border-radius: 24px;
        padding: 35px 24px;
        margin-bottom: 48px;

        h1 {
            color: #fff;
            margin-bottom: 24px;
        }

        .stb-info {
            max-width: 590px;

            p {
                font-size: 18px;
                font-weight: 400;
                line-height: 26px;
            }

            .stb-buttons {
                display: flex;
                align-items: center;
                margin-top: 39px;

                .btn-white {
                    margin-right: 12px;
                    max-width: 272px;
                }

                @include mq(sm) {
                    flex-wrap: wrap;

                    .btn-white {
                        margin-right: 0;
                        margin-bottom: 12px;
                        max-width: unset;
                    }
                }
            }
        }
    }

    .service-main-block {
        border-radius: 24px;
        background: rgba(235, 236, 218, 0.8);
        padding: 24px;
        margin-bottom: 51px;

        h3 {
            margin-bottom: 24px;
        }

        .proces-list {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 12px;

            li {
                display: flex;
                align-items: center;
                margin-bottom: 24px;

                &::after {
                    content: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 12.5996 7.00195' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12.599609' height='7.001953' fill='none' customFrame='%23000000'%3e%3cpath id='→' d='M7.632 7.002C7.488 7.002 7.416 6.936 7.416 6.804C7.416 6.756 7.428 6.699 7.452 6.633C7.476 6.567 7.5 6.498 7.524 6.426L8.28 4.23L0 4.446L0 2.556L8.28 2.772L7.524 0.576C7.5 0.504 7.476 0.435 7.452 0.369C7.428 0.297 7.416 0.239999 7.416 0.198C7.416 0.0659999 7.488 0 7.632 0C7.704 0 7.806 0.0479997 7.938 0.143999L12.402 3.204C12.534 3.3 12.6 3.402 12.6 3.51C12.6 3.63 12.534 3.732 12.402 3.816L7.938 6.858C7.806 6.954 7.704 7.002 7.632 7.002Z' fill='rgb(160,164,105)' fill-rule='nonzero' /%3e%3c/svg%3e ");
                    margin: 0 12px;
                    height: auto;
                    width: 13px;
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }

                @include mq(480) {
                    flex-direction: column;
                    margin-bottom: 0;
                    width: 100%;

                    &::after {
                        transform: rotate(90deg);
                        margin: 6px 0 6px;
                    }

                    .btn-service {
                        padding: 5px 14px;
                        width: 100%;
                    }

                    &:last-child {
                        margin-bottom: 24px;
                    }
                }
            }


        }

        .service-price {
            margin-top: 32px;

            ul:not(.note) {
                background-color: #fff;
                border-radius: 24px;
                padding: 12px 24px;
                margin-bottom: 24px;

                li {
                    border-bottom: 1px dashed $green;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-top: 12px;
                    padding-bottom: 12px;

                    span {
                        min-width: fit-content;
                        margin-left: 10px;
                    }

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }

            .note {
                color: $green;
                font-size: 12px;
                font-weight: 400;
                line-height: 15px;
                margin-bottom: 20px;
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .btn-white {
                margin-right: 12px;
            }

        }

        .images {
            img {
                border-radius: 24px;
                margin-bottom: 24px;
                max-width: 100%;
                height: auto;
            }
        }

        @include mq(480) {
            .service-price {
                text-align: center;

                ul:not(.note) {
                    li {
                        flex-direction: column;
                        text-align: center;
                    }
                }
            }

            .buttons {
                flex-wrap: wrap;

                .btn-white {
                    margin-right: 0;
                    margin-bottom: 24px;
                }
            }

        }
    }
}

.single-service-bottom {
    .ss-faq {
        margin-bottom: 86px;

        h3 {
            margin-bottom: 40px;
        }
    }

    .bottom-services-banner {

        .bsb-buttons {
            margin-top: 81px;
        }
    }

    .license {
        margin-bottom: 86px;
    }
}

#questions {
    --bs-accordion-body-padding-x: 0;
    --bs-accordion-body-padding-y: 1.13rem;
    --bs-accordion-btn-padding-y: .82rem;
    --bs-accordion-btn-padding-x: 0;
    --bs-accordion-active-bg: #fff;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-btn-icon: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 34 34' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='34.000000' height='34.000000' fill='none' customFrame='%23000000'%3e%3cg id='telegram'%3e%3cpath id='Vector' d='M0 17C0 26.3888 7.61116 34 17 34C26.3888 34 34 26.3888 34 17C34 7.61117 26.3888 0 17 0C7.61116 0 0 7.61117 0 17Z' fill='rgb(247,247,247)' fill-rule='evenodd' transform='matrix(-1,0,0,1,34,0)' /%3e%3cpath id='+' d='M4.304 0L4.304 2.48L6.704 2.48L6.704 4.256L4.304 4.256L4.304 6.72L2.384 6.72L2.384 4.256L0 4.256L0 2.48L2.384 2.48L2.384 0L4.304 0Z' fill='rgb(160,164,105)' fill-rule='nonzero' transform='matrix(-1,0,0,1,20.3555,14.3281)' /%3e%3c/g%3e%3c/svg%3e ");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 34 34' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='34.000000' height='34.000000' fill='none' customFrame='%23000000'%3e%3cg id='telegram'%3e%3cpath id='Vector' d='M0 17C0 26.3888 7.61116 34 17 34C26.3888 34 34 26.3888 34 17C34 7.61117 26.3888 0 17 0C7.61116 0 0 7.61117 0 17Z' fill='rgb(247,247,247)' fill-rule='evenodd' transform='matrix(-1,0,0,1,34,0)' /%3e%3cpath id='+' d='M4.304 0L6.704 0L6.704 1.776L4.304 1.776L2.384 1.776L0 1.776L0 0L2.384 0L4.304 0Z' fill='rgb(160,164,105)' fill-rule='nonzero' transform='matrix(-1,0,0,1,20.3555,16.8086)' /%3e%3c/g%3e%3c/svg%3e ");
    --bs-accordion-btn-icon-width: 34px;
    --bs-accordion-border-color: #a0a469;
    border: 2px solid $green;
    border-radius: 24px;
    padding: 11px 25px;

    .accordion-item {
        border-bottom: var(--bs-accordion-border-width) dashed var(--bs-accordion-border-color);

        &:last-child {
            border-bottom: none;
        }

        .accordion-button {
            font-size: 24px;
            font-weight: 400;
            box-shadow: none;

            span {
                font-weight: 600;
                color: $green;
                margin-right: 6px;
            }

            @include mq(380) {
                font-size: 18px;
            }
        }
    }
}