#slide-menu {
    background-color: #fff;
    position: fixed;
    display: flex;
    left: 100%;
    top: 0;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 100;
    will-change: transition;
    transition: all .5s ease-out;

    &.open-menu {
        left: 0;
    }

    #close-menu {
        border: none;
        padding: 0;
        position: absolute;
        right: 57px;
        top: 39px;
        .close-menu {
            fill: $fc;
            height: 52px;
            width: 52px;
            @include trans();
        }
        &:hover {
            .close-menu {
                fill: $main;
            }
        }
    }

    .image-block {
        background-size: cover;
        flex-basis: 59%;
        height: 100%;
    }

    .slide-menu-info {
        flex-basis: 41%;
        padding: 122px 57px 103px 129px;

        ul {
            border-bottom: 2px solid $main;
            max-width: 264px;
            margin-bottom: 30px;
            padding-bottom: 15px;
            li {
                margin-bottom: 15px;
                a {
                    font-size: 24px;
                    font-weight: 400;
                    color: $fc;
                    display: inline-block;
                    line-height: 32px;
                    &:after {
                        content: "";
                        background-color: $main;
                        display: block;
                        opacity: 0;
                        height: 2px;
                        transform: scaleX(0);
                        transition: all .5s;
                    }

                    &:hover {
                        &:after {
                            opacity: 1;
                            transform: scaleX(1);
                        }
                    }
                }
            }
            &.third-menu-box {
                border-bottom: none;
                margin-bottom: 30px;
                padding-bottom: 0;
            }
        }

        .btn-prim {
            max-width: 262px;
            margin-bottom: 30px;
        }

        .social-block {
            ul {
                border: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                li a::after {
                    display: none;
                }
            }
            .icon {
                fill: $fc;
                height: 28px;
                width: 28px;
                @include trans();

                &:hover {
                    fill: $main;
                }
            }
        }
    }

    @include mq(xl) {
        #close-menu {
            right: 15px;
            top: 15px;
        }
        .slide-menu-info {
            padding: 122px 57px 103px 80px;
        }
    }
    @include mq(lg) {
        
        .image-block {
            flex-basis: 50%;
        }
    
        .slide-menu-info {
            flex-basis: 50%;
        }
    }

    @media (max-width: 630px) {
        .image-block {
            display: none;
        }
    
        .slide-menu-info {
            flex-basis: 100%;
            width: 100%;
        }
    }

    @include mq(380) {
        .slide-menu-info {
            padding: 122px 40px 103px;
        }
    }
}