.spec-cond {
    padding: 100px 0 58px;

    @include mq(sm) {
        padding: 58px 0;
    }

    h3 {
        margin-bottom: 58px;
    }

    .banner-item {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        align-items: center;
        padding: 32px;
        min-height: 433px;

        @include mq(md) {
            background-position: 67% center;
        }

        .banner-caption {
            color: #fff;
            max-width: 577px;

            h5 {
                font-size: 38px;
                font-weight: 600;
                margin-bottom: 16px;
            }

            .btn-pink {
                height: 48px;
                margin-top: 48px;
            }
        }
    }

    @media  (max-width: 1277px) {
        .slick-prev {
            left: -12px;   
        }
        
        .slick-next {
            right: -12px;
        }
    }
}

//pages spec cond
.speccond {
	.forwhom {
		.btn-pink {
			max-width: none;
			margin: 58px auto 0;
		}
	}

    .courses {
        background-color: $grey;
    }

    .consult {
        background: linear-gradient(to bottom, $grey 50%, transparent 50%);
    }

    .why-choose {
        padding: 100px 0;

        @include mq(sm) {
            padding: 58px 0;
        }

        .whch-text {
            background-color: $lgrn;
            border-radius: 20px;
            color: #fff;
            padding: 32px;
            line-height: 1.5;

            ul {
                margin-left: 12px;
            }

            .btn-outline {
                margin-top: 60px;

                @include mq(420) {
                    font-size: 16px;
                }

                &:hover {
                    border-color: $pnk;
                }
            }
        }

        .wcch-img {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 20px;
            overflow: hidden;
            height: 100%;
        }
    }

    .answers {
        padding: 100px 0 58px;
    }
}