.why-us {
    padding: 100px 0 58px;

    .wu-title {
        display: flex;
        align-items: center;
        margin-bottom: 58px;

        h4 {
            font-size: 48px;
            font-weight: 400;
            margin-left: 47px;
            margin-bottom: 0;
        }
    }

    .wu-item {
        border-radius: 20px;
        color: #fff;
        overflow: hidden;
        padding: 32px;

        &.wu-img {
            background-size: cover;
            background-position: center center;
            padding: 0;
            height: 100%;
        }

        h5 {
            font-size: 38px;
            font-weight: 400;
            margin-bottom: 10px;
        }

        p {
            font-weight: 300;
        }

        ul {
            font-weight: 300;
            margin-bottom: 0;
            line-height: 30px;
        }

        &.green {
            background-color: $fc;
        }
        
        &.lgreen {
            background-color: $lgrn;
        }
        
        &.pink {
            background-color: $pnk;
        }

    }
}