@font-face {
    font-family: 'KyivType';
    src: url('../fonts/kyivtype/KyivTypeSans-Bold.eot');
    src: local('KyivType Sans Bold'), local('KyivTypeSans-Bold'),
        url('../fonts/kyivtype/KyivTypeSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kyivtype/KyivTypeSans-Bold.woff2') format('woff2'),
        url('../fonts/kyivtype/KyivTypeSans-Bold.woff') format('woff'),
        url('../fonts/kyivtype/KyivTypeSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fixel Display';
    src: url('../fonts/fixel/FixelDisplay-Bold.eot');
    src: local('Fixel Display Bold'), local('FixelDisplay-Bold'),
        url('../fonts/fixel/FixelDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fixel/FixelDisplay-Bold.woff2') format('woff2'),
        url('../fonts/fixel/FixelDisplay-Bold.woff') format('woff'),
        url('../fonts/fixel/FixelDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fixel Display';
    src: url('../fonts/fixel/FixelDisplay-Regular.eot');
    src: local('Fixel Display Regular'), local('FixelDisplay-Regular'),
        url('../fonts/fixel/FixelDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fixel/FixelDisplay-Regular.woff2') format('woff2'),
        url('../fonts/fixel/FixelDisplay-Regular.woff') format('woff'),
        url('../fonts/fixel/FixelDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}