/**
 * Основные стили
**/
html {
	font-size: 16px;
}

body {
	background-color: $bg;
	font-family: $ns;
	font-size: 16px;
	font-weight: 300;
	color: $fc;
	line-height: 160%;
	letter-spacing: 0.05em;
	min-width: 320px;
}

:focus {
	outline-style: none;
	outline-width: 0px !important;
	outline-color: none !important;
}

h1,
.h1,
h3,
.h3 {
	font-family: $osw;
	font-weight: 300;
}

h1,
.h1 {
	font-size: 96px;
	color: $beg;
	line-height: 100%;
}

h3,
.h3 {
	font-size: 64px;
	font-weight: 200;
	line-height: 100%;
}

h5,
.h5 {
	font-family: $osw;
	font-size: 40px;
	font-weight: 200;
	line-height: 1;
}

a {
	transition: all .3s;

	&:focus {
		outline: none;
	}

	&:hover {
		text-decoration: none;
	}
}

button,
.form-control {
	&:focus {
		box-shadow: none;
		outline: none;
	}
}

.btn.focus,
.btn:focus {
	box-shadow: none;
}

.btn {
	border-radius: 0;
	transition: all .3s;
}

.btn-outline {
	background-color: transparent;
	border: 2px solid $fc;
	font-family: $ns;
	font-size: 20px;
	font-weight: 400;
	color: $fc;
	letter-spacing: 0.05em;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;
	height: 62px;
	max-width: 276px;
	width: 100%;

	&.btn-beg {
		border-color: $beg;
		color: $beg;

		&::before {
			background-color: $beg;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 0;
			z-index: -1;
			transition: all .1s;
		}

		&:hover {
			color: #fff;
			letter-spacing: 0.07em;
		}

		&:active {
			color: $bg;

			&::before {
				width: 100%;
			}
		}
	}
}

.form-control {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid $beg;
	border-radius: 0;
	font-family: $ns;
	font-size: 20px;
	font-weight: 300;
	color: $beg;
	height: 64px;

	&::placeholder {
		color: $beg;
		transition: all .3s;
	}

	&:hover,
	&:focus:hover {
		color: $fc;
		border-bottom-color: $fc;
		transition: all .3s;

		&::placeholder {
			color: $fc;
			transition: all .3s;
		}
	}

	&:focus {
		background-color: transparent;
		border-bottom-color: $beg;
		color: $beg;

		&::placeholder,
		&:hover::placeholder {
			color: transparent;
		}
	}
}

.social-links {

	a {
		margin-left: 34px;

		&:hover {
			.soc-icon {
				fill: $beg;
			}
		}
	}

	.soc-icon {
		fill: $fc;
		transition: all .5s;

		&.youtube {
			height: 19px;
			width: 28px;
		}

		&.facebook {
			height: 23px;
			width: 23px;
		}

		&.instagram {
			height: 23px;
			width: 23px;
		}

		&.vk {
			height: 17px;
			width: 30px;
		}
	}
}
*::selection {
	background-color: $beg;
	color: $bg;
}
.wrap-breadcrumbs {
	margin-bottom: 50px;
}
#breadcrumbs {
	font-size: 12px;
	font-weight: 400;
	color: $fc;
	margin-right: 10px;

	a {
		color: $beg;
		display: inline-block;
		line-height: 1;
        letter-spacing: normal;
		margin-right: 10px;
		
		+a {
			margin-left: 10px;
		}

		&::after {
			background-color: $beg;
			content: "";
			display: block;
			opacity: 0;
			transform: scaleX(0);
			transition: all .5s;
			height: 1px;
			width: 100%;
		}

		&:hover {
			&:after {
				opacity: 1;
				transform: scaleX(1);
			}
		}
	}

	.breadcrumb_last {
		margin-left: 10px;
	}
}

.pagination {
	margin: 26px 0 0;
	.nav-links {
		text-align: center;
		width: 100%;
		a, span {
			border: 2px solid transparent;
			font-size: 20px;
			font-weight: 400;
			color: $beg;
			border-radius: 0;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			margin: 0 5px 0;
			text-align: center;
			transition: all .3s;
			height: 62px;
			vertical-align: middle;
			width: 62px;
			&:hover, &.current {
				border-color: $beg;
				text-decoration: none;
			}
			&:active {
				background-color: $beg;
				color: $bg;
				.chevron-left, .chevron-right {
					fill: $bg;
				}
			}
		}
		.prev, .next {
			line-height: 37px;
		}
		.chevron-left, .chevron-right {
			fill: $beg;
			height: 24px;
			width: 24px;
			@include trans();
		}
	}
}