/**
 * Основные стили
**/
html {
	font-size: 16px;
}

body {
	background-color: #fff;
	font-family: $ff;
	font-size: 20px;
	font-weight: 400;
	font-optical-sizing: auto;
	font-style: normal;
	color: $fc;
	line-height: 33px;
	min-width: 320px;
	max-width: 1920px;
	margin: 0 auto;
	padding-top: 138px;
	--bs-body-color: #244235;
}

:focus {
	outline-style: none;
	outline-width: 0px !important;
	outline-color: none !important;
}

h1,
.h1 {
	font-family: $ff;
	font-size: 78px;
	font-weight: 400;
	line-height: 88px;
}

h3,
.h3 {
	font-family: $ff;
	font-size: 48px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 0;
	display: flex;

	&::after {
		content: "";
		background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='114.000000' height='30.000000' viewBox='0 0 114 30' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs/%3e%3cpath id='Vector' d='M97.77 0L94.66 2.9L105.54 12.91L0 12.91L0 17.08L105.54 17.08L94.66 27.09L97.77 30L114 15L97.77 0Z' fill='%23DA9089' fill-opacity='1.000000' fill-rule='nonzero'/%3e%3c/svg%3e ");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		margin-left: 12px;
		flex-shrink: 0;
		height: 50px;
		width: 114px;
	}

	@include mq(sm) {
		font-size: 34px;

		&::after {
			height: 39px;
			width: 80px;
			min-width: 80px;
		}
	}
}

a {
	color: $fc;
	text-decoration: none;
	transition: all .3s;

	&:focus {
		outline: none;
	}

	&:hover {
		text-decoration: none;
	}
}

b, strong {
    font-weight: bold;
}

button,
.form-control {
	&:focus {
		box-shadow: none;
		outline: none;
	}
}

@include placeholder($fc);

.btn.focus,
.btn:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show>.btn-light.dropdown-toggle:focus {
	box-shadow: none;
}

.btn {
	padding: 5px 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .5s;
}

.btn-pink  {
	background-color: $pnk;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	border-radius: 35px;
	height: 60px;
	width: fit-content;
	transition: all .3s;

	&::after {
		content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13.869995' height='13.229980' viewBox='0 0 13.87 13.23' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs/%3e%3cpath id='Vector' d='M6 1.26L7.26 0L13.87 6.6L7.26 13.23L6 11.97L10.34 7.61L0 7.61L0 5.61L10.35 5.61L6 1.26Z' fill='%23FFFFFF' fill-opacity='1.000000' fill-rule='evenodd'/%3e%3c/svg%3e ");
		margin-left: 12px;
	}

	&:hover, &:focus, &:active, &.active:focus, &:active:focus {
		background-color: darken($pnk, 10);
		color: #fff;
	}
}

.btn-outline {
	border: 2px solid $lgrn;
	border-radius: 36px;
	font-size: 20px;
	font-weight: 600;
	color: $lgrn;
	height: 48px;
	line-height: 1;
	width: fit-content;

	&::after {
		content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13.869995' height='13.229980' viewBox='0 0 13.87 13.23' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs/%3e%3cpath id='Vector' d='M6 1.26L7.26 0L13.87 6.61L7.26 13.23L6 11.97L10.34 7.61L0 7.61L0 5.61L10.35 5.61L6 1.26Z' fill='%23718878' fill-opacity='1.000000' fill-rule='evenodd'/%3e%3c/svg%3e ");
		margin-left: 12px;
	}

	&.btnw {
		border-color: #fff;
		color: #fff;

		&::after {
			content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13.869995' height='13.229980' viewBox='0 0 13.87 13.23' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs/%3e%3cpath id='Vector' d='M6 1.26L7.25 0L13.87 6.6L7.25 13.23L6 11.97L10.34 7.61L0 7.61L0 5.61L10.35 5.61L6 1.26Z' fill='%23FFFFFF' fill-opacity='1.000000' fill-rule='evenodd'/%3e%3c/svg%3e ");
			margin-left: 12px;
		}

		&:hover, &:focus, &:active, &.active:focus, &:active:focus {
			color: #fff;
		}
	}

	&.no-arr {
		&::after {
			display: none;
		}
	}

	&:hover, &:focus, &:active, &.active:focus, &:active:focus {
		border-color: $fc;
		color: $fc;
	}
}

.form-control {
	background-color: $grey;
	border: 2px solid $lgrn;
	border-radius: 24px;
	font-size: 20px;
	font-weight: 400;
	color: $fc;
	height: 48px;
	margin-bottom: 24px;
	padding: 5px 32px;

	&:focus {
		border-color: $lgrn;
	}
}

textarea.form-control {
	height: 172px;
}

.wrap-breadcrumbs {
	font-size: 15px;
	padding-top: 35px;
	margin-bottom: 40px;
	position: relative;
	z-index: 1;

	a, span {
		font-size: 15px;
		font-weight: 400;
		color: #fff;
	}

	a {
		text-decoration: underline;
		
		&:hover {
			text-decoration: none;
		}
	}

	span {
		margin: 0 6px;
	}
}

.accordion {
	border: 2px solid $fc;
	border-radius: 20px;
	overflow: hidden;

	--bs-accordion-btn-icon: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24.000000' height='24.000000' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs/%3e%3cpath id='Vector' d='M0 10L24 10L24 14L0 14L0 10Z' fill='%23718878' fill-opacity='1.000000' fill-rule='nonzero'/%3e%3cpath id='Vector' d='M14 0L14 24L10 24L10 0L14 0Z' fill='%23718878' fill-opacity='1.000000' fill-rule='nonzero'/%3e%3c/svg%3e");
	--bs-accordion-btn-active-icon: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24.000000' height='24.000000' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs/%3e%3cpath id='Vector' d='M0 10L24 10L24 14L0 14L0 10Z' fill='%23718878' fill-opacity='1.000000' fill-rule='nonzero'/%3e%3c/svg%3e");

	.accordion-item {
		border-bottom: 2px solid $fc;

		.accordion-button {
			background-color: #fff;
			box-shadow: none;
			font-size: 38px;
			font-weight: 400;
			color: $fc;
			line-height: 1;
			padding: 28px 32px;

			>span {
				color: $lgrn;
				margin-right: 12px;

				span {
					font-weight: 600;
					color: $fc;
				}

			}
		}

		.accordion-body {
			padding: 0 32px 32px;

			.module-info {
				border: 2px solid #D6DFD9;
				border-radius: 30px;
				padding: 32px;

				ul {
					margin-bottom: 0;
					li {
						font-weight: 600;

						span {
							font-weight: 400;
							color: $lgrn;
						}
					}
				}
			}
		}
	}
}