/**
 * Основные стили
**/
html {
	font-size: 16px;
}

body {
	background-color: #fff;
	font-family: $ff;
	font-size: 16px;
	font-weight: 300;
	color: $fc;
	line-height: 150%;
	min-width: 320px;

	padding-bottom: 300px;
}

:focus {
	outline-style: none;
	outline-width: 0px !important;
	outline-color: none !important;
}

h1,
.h1 {
	font-family: $ff;
	font-size: 38px;
	font-weight: 700;
}

h3,
.h3 {
	font-family: $ff;
	font-size: 48px;
	font-weight: 700;
}

h5,
.h5 {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 25px;
	line-height: 22px;
}

a {
	color: $fc;
	text-decoration: none;
	transition: all .3s;

	&:focus {
		outline: none;
	}

	&:hover {
		text-decoration: none;
	}
}

button,
.form-control {
	&:focus {
		box-shadow: none;
		outline: none;
	}
}

.btn.focus,
.btn:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show>.btn-light.dropdown-toggle:focus {
	box-shadow: none;
}

.btn {
	border-radius: 0;
	transition: all .3s;
}

.btn-outline-black {
	border-radius: 24px;
	border: 2px solid $fc;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 24px;
	height: 48px;
	position: relative;
	overflow: hidden;

	&::after {
		content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='7' height='12' viewBox='0 0 7 12' fill='none'%3e%3cpath d='M1 11L6 6L1 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
		margin-left: 12px;
	}

	&::before {
		background: linear-gradient(72deg, #FEEA00 -31.6%, rgba(254, 234, 0, 0.00) 68.79%);
		content: "";
		height: 100%;
		width: 100%;
		position: absolute;
		left: -100%;
		top: 0;
		z-index: -1;
		transition: all .5s;
	}

	&:hover {
		border: 2px solid $fc;

		&::before {
			left: 0;
		}
	}
}