@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

$fc: #244235;
$lgrn: #718878;
$grey: #EFEFEF;
$pnk: #DA9089;

$ff:  "Inter Tight", serif;

$breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
	480: 480px,
	420: 420px,
	380: 380px,
);